USE [CFS_BONDED_WAREHOUSE_History]
GO
/****** Object:  Table [dbo].[History_Column]    Script Date: 1/27/2024 4:09:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
drop table [dbo].[History_Column]

CREATE TABLE [dbo].[History_Column](
	[History_ColumnID] [bigint] IDENTITY(1,1) NOT NULL,
	[ColumnName] [varchar](255) NOT NULL,
	[LabelName] [varchar](255) NULL,
	[TableName] [varchar](255) NULL,
	[Flagdeleted] [bit] NOT NULL,
	[Createdby] [bigint] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UserGroupID] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedDate] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[History_Column] ON 

INSERT [dbo].[History_Column] ([History_ColumnID], [ColumnName], [LabelName], [TableName], [Flagdeleted], [Createdby], [CreatedDate], [UserGroupID], [UpdatedBy], [UpdatedDate]) VALUES (1, N'##ALIAS##GroupName', N'User Group Name', N'UserGroup_History', 0, NULL, CAST(N'2022-10-08T12:59:20.963' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[History_Column] ([History_ColumnID], [ColumnName], [LabelName], [TableName], [Flagdeleted], [Createdby], [CreatedDate], [UserGroupID], [UpdatedBy], [UpdatedDate]) VALUES (2, N'##ALIAS##Description', N'Description', N'UserGroup_History', 0, NULL, CAST(N'2022-10-08T13:07:18.130' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[History_Column] ([History_ColumnID], [ColumnName], [LabelName], [TableName], [Flagdeleted], [Createdby], [CreatedDate], [UserGroupID], [UpdatedBy], [UpdatedDate]) VALUES (5, N'(Case when ##ALIAS##IsActive = 1 Then ''IsActive'' ELSE ''InActive'' END)', N'Is Active', N'UserGroup_History', 0, NULL, CAST(N'2022-10-08T13:09:36.537' AS DateTime), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[History_Column] OFF
GO
ALTER TABLE [dbo].[History_Column] ADD  DEFAULT ((0)) FOR [Flagdeleted]
GO
ALTER TABLE [dbo].[History_Column] ADD  DEFAULT ([dbo].[GetCurrentDateTime]()) FOR [CreatedDate]
GO
