@{
    ViewBag.Title = "Empty Container Out Pendency Report";
}
@using (Html.BeginForm("EmptyContainerOutPendencyReport", "Reports", FormMethod.Post))
{
    <div class="">
        <div class="box">
            <div class="box-body">
                <input type="hidden" id="msg" name="msg" value="@ViewBag.Msg">
                @Html.Partial("_ReportsModalAsOnDate")
                @*@Html.Partial("_ReportsModalDate")*@
                @Html.Partial("_ReportsModalSearchClearButton")
            </div>
        </div>
    </div>
}
<script src="@CFS.Com.ClsCommon.GetCacheVersion("FormJs/ReportsModal.js")"></script>


