<div class="col-md-4 pull-right">
    <div class="form-group" style="padding-top: 24px;">
        <input type="hidden" id="msg" name="msg" value="@ViewBag.Msg">
        <button type="reset" id="IsGenerate" name="IsGenerate" value="Y" class="btn btn-danger pull-right">Clear</button>
        <button style="margin-right:10px;" type="submit" id="IsGenerate" onclick="return Validate();" name="IsGenerate" value="Y" class="btn btn-primary pull-right">Generate Reports</button>
    </div>
</div>