@{
    CFS.Models.ReportsModal ReportsModal = new CFS.Models.ReportsModal();
    if (ViewBag.ReportsModal != null)
    {
        ReportsModal = ViewBag.ReportsModal;
    }
}
<div class="col-md-2">
    <div class="form-group">
        @Html.LabelFor(Model => ReportsModal.Importer, new { @id = "lblImporter", @for = "Importer" }) 
        @Html.TextBoxFor(Model => ReportsModal.Importer, new { @id = "Importer", @name = "Importer", @class = "form-control clsReadOnly", @placeholder = "Enter Importer" })
        @Html.HiddenFor(Model => ReportsModal.ImporterID, new { @id = "ImporterID", @name = "ImporterID" })
    </div>
</div>
        