<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box" style="text-align:center;">
                <img src="@CFS.Com.ClsCommon.GetRootPath()Content/img/uc.gif" />
            </div>
        </div>
    </div>
</section>