<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="routeJs" type="RouteJs.RouteJsConfigurationSection, RouteJs" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="dbprovider" value="CFS.Com.SqlClient" />
    <add key="commondbprovider" value="CFS.Com" />
    <add key="RootPath" value="mundra-bonded/" />
	<add key="IsDomain" value="No" />
	<add key="physicalpath" value="D:\Omexinfotech\wwwRoot\MUNDRABONDED\" />

	
	<add key="GracePeriod" value="8"/> 
	<add key="Remain20PercValidation" value="20"/>
    <add key="theme" value="blue" />
	 <add key="IsMundraBonded" value="true" />
	 
    <!--blue; blue-light; black;black-light; purple; purple light; green; green light; red ;red light; yellow; yellow light; -->
    <add key="username" value="sa" />
    <add key="password" value="admin@123" />
    <add key="servername" value="BACKUPSERVER" />
    <add key="db" value="MUNDRABONDED" />
    <add key="Historydb" value="MUNDRABONDED_History" />
    <!--START :: This Credential is only use for the Omex Issue/tracing Please do not Use this on any other place-->
    <add key="MaxExecutionTimeinMilliseconds" value="100" />
    <add key="ExpenciveQueryEmailSubject" value="Bonded Mundra Expensive Query" />
    <add key="ErrorFROMEMAIL" value="st09542@gmail.com" />
    <add key="ErrorFROMPASS" value="mhzn qaaf yauk dpab" />
    <add key="ErrorSMTP" value="smtp.gmail.com" />
    <add key="ErrorSMTPPORT" value="587" />
    <add key="ErrorSubject" value="Bonded Mundra Error" />
    <add key="ErrorDispalyName" value="Bonded Mundra Error" />
    <add key="ErrorTO" value="manish@omexinfotech.com" />
    <add key="ErrorBCC" value="anjana@omexinfotech.in" />
    <add key="ErrorCC" value="dhruvi@omexinfotech.in" />
    <add key="ErrorEmailNeedtoSend" value="Yes" />
	<add key="IgnoreError" value="Invalid usage of the option NEXT in the FETCH statement | A public action method 'unauthorize' was not found on controller 'CFS.Controllers.ErrorController'"/>
    <add key="SendQuery" value="No" />
    <add key="JavaScriptProjectDateFormat" value="DD/MM/YYYY"/>
	<add key="CSProjectDateFormat" value="dd/MM/yyyy"/>
	<add key="JavaScriptProjectDateTimeFormat" value="DD/MM/YYYY HH:mm"/>
	<add key="CSProjectDateTimeFormat" value="dd/MM/yyyy HH:mm"/>
	<add key="JavaScriptProjectTimeFormat" value="HH:mm"/>
    <add key="Captcha" value="No" />
    <add key="OLEDBConnection" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR=yes'" />
    <!--END :: This Credential is only use for the Omex Issue/tracing Please do not Use this on any other place-->
	<add key="IsValidValidation" value="true"/>

 </appSettings>
  <system.web>
    <compilation targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <trace enabled="true" requestLimit="100" localOnly="false" />
    <sessionState timeout="720" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="RouteJs" />
      <add name="RouteJs" verb="GET" path="routejs.axd" type="RouteJs.RouteJsHandler, RouteJs" preCondition="integratedMode" />
      <remove name="WebHelpers" />
      <add name="WebHelpers" verb="GET" path="WebHelpers.axd" type="WebHelpers.Mvc5.Enum.EnumHandler" preCondition="integratedMode" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="login" />
      </files>
    </defaultDocument>
  </system.webServer>
  <routeJs exposeAllRoutes="true" lowerCaseUrls="false" />
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 9464FCAD-D3C3-437E-8D71-DE0503137CEB-->