USE [CFS_BONDED_WAREHOUSE]
GO
/****** Object:  Trigger [dbo].[TGR_trnTruckDestuffing]    Script Date: 05/10/2024 11:45:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER  [dbo].[TGR_trnTruckDestuffing]   
 ON  [dbo].[trnTruckDestuffing]   
 
   AFTER INSERT,UPDATE  
   AS     
   DECLARE @Caption varchar(50)  
   DECLARE @IsFinished BIT

   IF EXISTS(SELECT * FROM Inserted)  
   Begin
		IF EXISTS(SELECT * FROM Deleted)      
			set @Caption = 'Edit'  
		ELSE      
			set @Caption = 'Insert'    

		
	
	END
	SET @IsFinished = (SELECT IsFinished FROM Inserted)
	IF (@IsFinished = 0)
	BEGIN
		IF NOT EXISTS (SELECT * FROM Inserted p  
		JOIN Deleted AS i ON 
		p.[trnTruckDestuffingID] = i.[trnTruckDestuffingID]
		and p.[trnTruckDestuffingPrefix]=i.[trnTruckDestuffingPrefix]
		and p.[trnTruckDestuffingNo]=i.[trnTruckDestuffingNo]
		and p.[TruckNo] = i.[TruckNo] 
		and p.[trnCargoGateInID] = i.[trnCargoGateInID] 
		and p.[Surveyor] = i.[Surveyor] 
		and p.[SurveyorID] = i.[SurveyorID] 
		and p.[Contractor] = i.[Contractor] 
		and p.[ContractorID] = i.[ContractorID] 
		and  CAST(p.[BeginDestuffDate] as date)  = CAST(i.[BeginDestuffDate] as date) 
		and  CAST(p.[EndDestuffDate] as date)  = CAST(i.[EndDestuffDate] as date) 
		and P.[Flagdeleted] = i.[Flagdeleted]
		and p.[Remarks] = i.[Remarks]
		and P.[Createdby] = i.[Createdby]
		and p.[CreatedDate] = i.[CreatedDate]
		and p.[UpdatedBy] = i.[UpdatedBy]
		and p.[UpdatedDate] = i.[UpdatedDate]
		and p.[CargoGateInNo] = i.[CargoGateInNo]
		and p.[IsFinished] = i.[IsFinished]
		and p.[WorkOrderID] = i.[WorkOrderID]
		and p.[WorkOrderNo] = i.[WorkOrderNo]
		and p.[YearID] = i.[YearID]
	)   
	BEGIN       
		SET NOCOUNT ON;       
		INSERT INTO [CFS_BONDED_WAREHOUSE_History].[dbo].[trnTruckDestuffing_History]
							([trnTruckDestuffingID],[trnTruckDestuffingPrefix],[trnTruckDestuffingNo],[TruckNo],[trnCargoGateInID]
						   ,[Surveyor],[SurveyorID],[Contractor],[ContractorID],[BeginDestuffDate],[EndDestuffDate],[Remarks],[Flagdeleted],[Createdby]
						   ,[CreatedDate],[UpdatedBy],[UpdatedDate],[Caption],[CargoGateInNo],[WorkOrderID],[WorkOrderNo],[YearID])

					SELECT [trnTruckDestuffingID],[trnTruckDestuffingPrefix],[trnTruckDestuffingNo],[TruckNo],[trnCargoGateInID]
						   ,[Surveyor],[SurveyorID],[Contractor],[ContractorID],[BeginDestuffDate],[EndDestuffDate],[Remarks],[Flagdeleted],[Createdby]
						   ,[CreatedDate],[UpdatedBy],[UpdatedDate],@Caption,[CargoGateInNo],[WorkOrderID],[WorkOrderNo],[YearID] FROM Inserted 
	END
	END
	ELSE
	BEGIN
		IF NOT EXISTS (SELECT * FROM Inserted p
			JOIN Deleted AS i ON
			p.[trnTruckDestuffingID] = i.[trnTruckDestuffingID]
			and p.[trnTruckDestuffingPrefix] = i.[trnTruckDestuffingPrefix]
			and p.[trnTruckDestuffingNo] = i.[trnTruckDestuffingNo]
			and p.[IsFinished]=i.[IsFinished]
			and p.[Flagdeleted] =i.[Flagdeleted]
		)
		BEGIN
			SET NOCOUNT ON;  
			UPDATE [CFS_BONDED_WAREHOUSE_History].[dbo].[trnTruckDestuffing_History] 
			SET   [trnTruckDestuffingPrefix] = inserted.[trnTruckDestuffingPrefix],
				  [trnTruckDestuffingNo] = inserted.[trnTruckDestuffingNo],
				  [IsFinished]=inserted.[IsFinished],
				  [Flagdeleted] =inserted.[Flagdeleted]
			FROM [CFS_BONDED_WAREHOUSE_History].[dbo].[trnTruckDestuffing_History]  
			INNER JOIN  inserted ON [trnTruckDestuffing_History].[trnTruckDestuffingID] = inserted.[trnTruckDestuffingID]
		END
	END
	IF(@IsFinished = 1 AND (SELECT IsFinished FROM Deleted) = 0)
	BEGIN
		INSERT INTO [CFS_BONDED_WAREHOUSE].[dbo].[trnTruckInfo]
						([TruckNo],[TransportationType],[VehicleType],[Transporter],[TransporterID],[Driver],[DriverID],[LicenceNo],[MobileNo],[Address],[Type],[Flagdeleted],[ID],[WorkOrderID])

				SELECT   T.TruckNo,C.TransportationType,C.VehicleType,C.Transporter,C.TransporterID,C.Driver,C.DriverID,C.LicenceNo,C.MobileNo,C.Address,'TD' as Type,0 as Flagdeleted,t.trnTruckDestuffingID,C.WorkOrderID  
				FROM trnTruckDestuffing T 
				INNER JOIN trnCargoGateIn C on C.trnCargoGateInID = T.trnCargoGateInID and C.Flagdeleted = 0 and C.IsFinished = 1 and C.IsApproved = 1 
				WHERE T.Flagdeleted = 0 and T.IsFinished = 1  AND T.trnTruckDestuffingID = (SELECT TOP 1 trnTruckDestuffingID FROM Inserted)
				AND T.TruckNo NOT IN (SELECT TruckNo from trnTruckInfo WHERE Flagdeleted = 0)
	END
	    

