USE [CFS_BONDED_WAREHOUSE]
GO
/****** Object:  Trigger [dbo].[TGR_trnLoadedContainerOutGPDetails]    Script Date: 1/26/2024 11:20:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------------------------
CREATE TRIGGER [dbo].[TGR_trnLoadedContainerOutGPDetails] ON  [dbo].[trnLoadedContainerOutGPDetails]   
   AFTER INSERT,UPDATE  
   AS     
   DECLARE @Caption varchar(50)  
	IF EXISTS(SELECT * FROM Inserted)
	BEGIN
		IF EXISTS(SELECT * FROM Deleted)      
			SET @Caption = 'Edit'  
		ELSE      
			SET @Caption = 'Insert'    
	END
	IF NOT EXISTS ( SELECT * FROM Inserted p JOIN Deleted AS i ON 
				p.[trnLoadedContainerOutGPDetailsID] = i.[trnLoadedContainerOutGPDetailsID] and
				p.[trnLoadedContainerOutGPID] = i.[trnLoadedContainerOutGPID] and
				p.[TruckNo] = i.[TruckNo] and
				p.[trnEmptyTruckGateInID] = i.[trnEmptyTruckGateInID] and
				p.[CargoTerminalSealNo] = i.[CargoTerminalSealNo] and
				p.[MovetoLocation] = i.[MovetoLocation] and
				p.[MovetoLocationID] = i.[MovetoLocationID] and
				p.[trnLoadedContainerOutWOID] = i.[trnLoadedContainerOutWOID] and
				p.[trnDocumentContainerID] = i.[trnDocumentContainerID] and
				p.[Remarks] = i.[Remarks] and
				p.[Flagdeleted] = i.[Flagdeleted] and
				p.[Createdby] = i.[Createdby] and
				p.[CreatedDate] = i.[CreatedDate] and
				p.[UpdatedBy] = i.[UpdatedBy] and
				p.[UpdatedDate] = i.[UpdatedDate] and 
				p.[trnexportmovementWOContainerDetailsID] = i.[trnexportmovementWOContainerDetailsID])   
	BEGIN       
				SET NOCOUNT ON;       
				INSERT INTO [CFS_BONDED_WAREHOUSE_HISTORY].[dbo].[trnLoadedContainerOutGPDetails_History]	(          
								[trnLoadedContainerOutGPDetailsID]
							    ,[trnLoadedContainerOutGPID]
							    ,[TruckNo]
							    ,[trnEmptyTruckGateInID]
							    ,[CargoTerminalSealNo]
							    ,[MovetoLocation]
							    ,[MovetoLocationID]
							    ,[trnLoadedContainerOutWOID]
							    ,[trnDocumentContainerID]
							    ,[Remarks]
								 ,[Flagdeleted]
							    ,[Createdby]
								,[CreatedDate]
								,[UpdatedBy]
								,[UpdatedDate]
								,[trnexportmovementWOContainerDetailsID]
								,[caption])
				select 	[trnLoadedContainerOutGPDetailsID]
					   ,[trnLoadedContainerOutGPID]
					   ,[TruckNo]
					   ,[trnEmptyTruckGateInID]
					   ,[CargoTerminalSealNo]
					   ,[MovetoLocation]
					   ,[MovetoLocationID]
					   ,[trnLoadedContainerOutWOID]
					   ,[trnDocumentContainerID]
					   ,[Remarks]
					   ,[Flagdeleted]
					   ,[Createdby]
					   ,[CreatedDate]
					   ,[UpdatedBy]
					   ,[UpdatedDate]
					   ,[trnexportmovementWOContainerDetailsID]
					   ,@caption
	FROM Inserted 
	END 

