USE [CFS_BONDED_WAREHOUSE]
GO
/****** Object:  Trigger [dbo].[TGR_trnExportDocumentDeclaration]    Script Date: 1/10/2024 9:48:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------
CREATE TRIGGER  [dbo].[TGR_trnExportDocumentDeclaration]   
 ON  [dbo].[trnExportDocumentDeclaration]   
   AFTER INSERT,UPDATE  
   AS     
   DECLARE @Caption varchar(50)  
   DECLARE @Deleted bit
   IF EXISTS(SELECT * FROM Inserted)  
   Begin
		IF EXISTS(SELECT * FROM Deleted)      
			set @Caption = 'Edit'  
		ELSE      
			set @Caption = 'Insert'    
		IF((select FlagDeleted FROM Inserted) = 1)
		BEGIN
			SET @Deleted = 1
		END
		ELSE
		BEGIN
			SET @Deleted = 0
		END
	END
	IF NOT EXISTS (SELECT * FROM Inserted p  
		JOIN Deleted AS i ON 
		p.[trnExportDocumentDeclarationID] = i.[trnExportDocumentDeclarationID]	
		and p.[DocumentRefPrefix] = i.[DocumentRefPrefix]
		and p.[DocumentRefNo] = i.[DocumentRefNo] 
		and P.[CHAName] = i.[CHAName]
		and P.[CHAID] = i.[CHAID]
		and P.[ForwarderName] = i.[ForwarderName]
		and P.[ForwarderID] = i.[ForwarderID]
		and P.[ConsolerName] = i.[ConsolerName]
		and P.[ConsolerID] = i.[ConsolerID]
		and P.[CHARepresentativeName] = i.[CHARepresentativeName]
		and P.[CHARepresentativeNID] = i.[CHARepresentativeNID]
		and P.[ContactNumber] = i.[ContactNumber]
		and P.[Remarks] = i.[Remarks]
		and P.[IsFinished] = i.[IsFinished]
		and P.[YearID] = i.[YearID]
		and P.[Flagdeleted] = i.[Flagdeleted]
		and P.[Status] = i.[Status]
		and P.[StatusRemarks] = i.[StatusRemarks]
		and P.[HoldAgency] = i.[HoldAgency]
		and P.[HoldAgencyID] = i.[HoldAgencyID]
		)
	BEGIN       
		SET NOCOUNT ON;       
		INSERT INTO [CFS_BONDED_WAREHOUSE_History].[dbo].[trnExportDocumentDeclaration_History]
							([trnExportDocumentDeclarationID],[DocumentRefPrefix],[DocumentRefNo],[CHAName],[CHAID],[ForwarderName]
							,[ForwarderID],[ConsolerName],[ConsolerID],[CHARepresentativeName],[CHARepresentativeNID],[ContactNumber],[Remarks],[IsFinished],[YearID],[Flagdeleted]
							,[Status],[StatusRemarks],[HoldAgency],[HoldAgencyID],[Caption],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate])
					SELECT [trnExportDocumentDeclarationID],[DocumentRefPrefix],[DocumentRefNo],[CHAName],[CHAID],[ForwarderName],[ForwarderID],[ConsolerName],[ConsolerID]
					,[CHARepresentativeName],[CHARepresentativeNID],[ContactNumber],[Remarks],[IsFinished],[YearID],[Flagdeleted],[Status],[StatusRemarks],[HoldAgency],[HoldAgencyID],@Caption,[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate] FROM Inserted 
	END    


