USE [CFS_BONDED_WAREHOUSE]
GO
/****** Object:  Trigger [dbo].[TGR_trnCargoGateInContainerDetails]    Script Date: 02/08/2024 11:38:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------------
ALTER TRIGGER  [dbo].[TGR_trnCargoGateInContainerDetails]   
 ON  [dbo].[trnCargoGateInContainerDetails]   
   AFTER INSERT,UPDATE  
   AS     
   DECLARE @Caption varchar(50)

   IF EXISTS(SELECT * FROM Inserted)  
   Begin
		IF EXISTS(SELECT * FROM Deleted)      
			set @Caption = 'Edit'  
		ELSE      
			set @Caption = 'Insert'    
		
	END
	 IF  (EXISTS (SELECT * FROM Inserted p  
		JOIN Deleted AS i ON 
		p.[trnCargoGateInContainerDetailsID] = i.[trnCargoGateInContainerDetailsID]	
		where (p.[trnCargoGateInID] <> i.[trnCargoGateInID]
		OR p.[trnDocumentContainerDetailsID] <> i.[trnDocumentContainerDetailsID] 
		OR p.[CONTNO] <> i.[CONTNO] 
		OR p.[ISOCode] <> i.[ISOCode] 
		OR p.[ISOCodeID] <> i.[ISOCodeID] 
		OR p.[Size] <> i.[Size] 
		OR p.[SizeID] <> i.[SizeID] 
		OR p.[ContType] <> i.[ContType] 
		OR p.[ContTypeID] <> i.[ContTypeID] 
		OR p.[GrossWeight] <> i.[GrossWeight] 
		OR p.[TareWeight] <> i.[TareWeight] 
		OR p.[PayloadCapacity] <> i.[PayloadCapacity]
		OR p.[PhysicalSeal] <> i.[PhysicalSeal]
		OR p.[DeclaredSeal] <> i.[DeclaredSeal]
		OR P.[Flagdeleted] <> i.[Flagdeleted]) )
	)   
	BEGIN       
		SET NOCOUNT ON;       
		INSERT INTO [CFS_BONDED_WAREHOUSE_History].[dbo].[trnCargoGateInContainerDetails_History]
							([trnCargoGateInContainerDetailsID],[trnCargoGateInID],[trnDocumentContainerDetailsID],[CONTNO],[ISOCode],[ISOCodeID],[Size], [SizeID],[ContType], [ContTypeID]
							,[GrossWeight],[TareWeight],[PayloadCapacity],[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate],[Caption],PhysicalSeal,DeclaredSeal)
					SELECT [trnCargoGateInContainerDetailsID],[trnCargoGateInID],[trnDocumentContainerDetailsID],[CONTNO],[ISOCode],[ISOCodeID],[Size], [SizeID],[ContType], [ContTypeID]
							,[GrossWeight],[TareWeight],[PayloadCapacity],[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate],@Caption,PhysicalSeal,DeclaredSeal FROM Inserted 
	END 
	ELSE IF (NOT EXISTS (SELECT * FROM Inserted p  
		JOIN Deleted AS i ON 
		p.[trnCargoGateInContainerDetailsID] = i.[trnCargoGateInContainerDetailsID]	
		and p.[trnCargoGateInID] = i.[trnCargoGateInID]
		and p.[trnDocumentContainerDetailsID] = i.[trnDocumentContainerDetailsID] 
		and p.[CONTNO] = i.[CONTNO] 
		and p.[ISOCode] = i.[ISOCode] 
		and p.[ISOCodeID] = i.[ISOCodeID] 
		and p.[Size] = i.[Size] 
		and p.[SizeID] = i.[SizeID] 
		and p.[ContType] = i.[ContType] 
		and p.[ContTypeID] = i.[ContTypeID] 
		and p.[GrossWeight] = i.[GrossWeight] 
		and p.[TareWeight] = i.[TareWeight] 
		and p.[PayloadCapacity] = i.[PayloadCapacity] 
		and P.[Flagdeleted] = i.[Flagdeleted]
		and p.[Createdby]=i.[Createdby]
		and p.[CreatedDate]=i.[CreatedDate]
		and p.[UpdatedBy] =i.[UpdatedBy]
		OR p.[PhysicalSeal] <> i.[PhysicalSeal]
		OR p.[DeclaredSeal] <> i.[DeclaredSeal]
		and p.[UpdatedDate]=i.[UpdatedDate])AND @Caption ='Insert')   
	BEGIN       
		SET NOCOUNT ON;       
		INSERT INTO [CFS_BONDED_WAREHOUSE_History].[dbo].[trnCargoGateInContainerDetails_History]
							([trnCargoGateInContainerDetailsID],[trnCargoGateInID],[trnDocumentContainerDetailsID],[CONTNO],[ISOCode],[ISOCodeID],[Size], [SizeID],[ContType], [ContTypeID]
							,[GrossWeight],[TareWeight],[PayloadCapacity],[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate],[Caption],PhysicalSeal,DeclaredSeal)
					SELECT [trnCargoGateInContainerDetailsID],[trnCargoGateInID],[trnDocumentContainerDetailsID],[CONTNO],[ISOCode],[ISOCodeID],[Size], [SizeID],[ContType], [ContTypeID]
							,[GrossWeight],[TareWeight],[PayloadCapacity],[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate],@Caption,PhysicalSeal,DeclaredSeal FROM Inserted 
	END  
	   



