USE [CFS_BONDED_WAREHOUSE]
GO
/****** Object:  Trigger [dbo].[TGR_trnExportDocumentDeclarationLotDetails]    Script Date: 1/10/2024 11:36:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------
CREATE TRIGGER  [dbo].[TGR_trnExportDocumentDeclarationLotDetails]   
 ON  [dbo].[trnExportDocumentDeclarationLotDetails]   
   AFTER INSERT,UPDATE  
   AS     
   DECLARE @Caption varchar(50)  
   IF EXISTS(SELECT * FROM Inserted)  
   Begin
		IF EXISTS(SELECT * FROM Deleted)      
			set @Caption = 'Edit'  
		ELSE      
			set @Caption = 'Insert'    
	END
	IF NOT EXISTS (SELECT * FROM Inserted p  
		JOIN Deleted AS i ON 
		p.[trnExportDocumentDeclarationLotDetailsID] = i.[trnExportDocumentDeclarationLotDetailsID]	
		and p.[trnExportDocumentDeclarationID] = i.[trnExportDocumentDeclarationID]	
		and p.[BOENo] = i.[BOENo]	
		and p.[BOEDate] = i.[BOEDate]	
		and p.[BLNo] = i.[BLNo]	
		and p.[BLDate] = i.[BLDate]	
		and p.[trnDocumentID] = i.[trnDocumentID]	
		and p.[trnDocumentNo] = i.[trnDocumentNo]	
		and p.[NOCDate] = i.[NOCDate]	
		and p.[EXBOENo] = i.[EXBOENo]	
		and p.[CargoType] = i.[CargoType]	
		and p.[CargoTypeID] = i.[CargoTypeID]	
		and p.[BULKSTATUS] = i.[BULKSTATUS]	
		and p.[ExporterID] = i.[ExporterID]	
		and p.[ExporterNAME] = i.[ExporterNAME]	
		and p.[ExporterADDRESS] = i.[ExporterADDRESS]	
		and p.[ConsigneeNAME] = i.[ConsigneeNAME]	
		and p.[ConsigneeADDRESS] = i.[ConsigneeADDRESS]	
		and p.[ToLocationID] = i.[ToLocationID]	
		and p.[ToLocationName] = i.[ToLocationName]	
		and p.[FOB] = i.[FOB]	
		and p.[MARKSANDNOS] = i.[MARKSANDNOS]	
		and p.[Class] = i.[Class]	
		and p.[UN] = i.[UN]	
		and p.[TEMP] = i.[TEMP]	
		and p.[FlagDeleted] = i.[FlagDeleted] 
		and p.[DocumentEXBOENo] = i.[DocumentEXBOENo] 
		and p.[TransactionType]=i.[TransactionType]
	)   
	BEGIN       
		SET NOCOUNT ON;       
		INSERT INTO [CFS_BONDED_WAREHOUSE_HISTORY].[dbo].[trnExportDocumentDeclarationLotDetails_History]
							([trnExportDocumentDeclarationLotDetailsID]
							,[trnExportDocumentDeclarationID],[BOENo],[BOEDate],[BLNo],[BLDate],[trnDocumentID],[trnDocumentNo]
							,[NOCDate],[EXBOENo],[CargoType],[CargoTypeID],[BULKSTATUS],[ExporterID],[ExporterNAME]
							,[ExporterADDRESS],[ConsigneeNAME],[ConsigneeADDRESS],[ToLocationID],[ToLocationName],[FOB],[MARKSANDNOS]
							,[Class],[UN],[TEMP],[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate]
							,[Caption],[DocumentEXBOENo],[TransactionType]
							)
		SELECT [trnExportDocumentDeclarationLotDetailsID]
							,[trnExportDocumentDeclarationID],[BOENo],[BOEDate],[BLNo],[BLDate],[trnDocumentID],[trnDocumentNo]
							,[NOCDate],[EXBOENo],[CargoType],[CargoTypeID],[BULKSTATUS],[ExporterID],[ExporterNAME]
							,[ExporterADDRESS],[ConsigneeNAME],[ConsigneeADDRESS],[ToLocationID],[ToLocationName],[FOB],[MARKSANDNOS]
							,[Class],[UN],[TEMP],[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate]
							,@caption,[DocumentEXBOENo],[TransactionType]
							FROM Inserted 
	END


