USE [PREBONDED]
GO
/****** Object:  Trigger [dbo].[TGR_trnDocumentLotDetails]    Script Date: 02/01/2024 12:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------
ALTER TRIGGER  [dbo].[TGR_trnDocumentLotDetails]   
 ON  [dbo].[trnDocumentLotDetails]   
   AFTER INSERT,UPDATE  
   AS    
   DECLARE @InsertedID INT;
   DECLARE @Caption varchar(50)  
   IF EXISTS(SELECT * FROM Inserted)  
   Begin
		IF EXISTS(SELECT * FROM Deleted)      
			set @Caption = 'Edit'  
		ELSE      
			set @Caption = 'Insert'    
	END
	IF NOT EXISTS (SELECT * FROM Inserted p  
		JOIN Deleted AS i ON 
		p.[trnDocumentLotDetailsID] = i.[trnDocumentLotDetailsID]	
		and p.[trnDocumentID] = i.[trnDocumentID]	
		and p.[LOTNO] = i.[LOTNO]	
		and p.[IGMNo] = i.[IGMNo]	
		and p.[ItemNo] = i.[ItemNo]	
		and p.[IGMDate] = i.[IGMDate]	
		and p.[BOEDate] = i.[BOEDate]	
		and p.[BOENo] = i.[BOENo]	
		and p.[BLNo] = i.[BLNo]	
		and p.[BLDate] = i.[BLDate]	
		and p.[IMPORTERADDRESSNAME] = i.[IMPORTERADDRESSNAME]	
		and p.[CPStatus] = i.[CPStatus]	
		and p.[CPNo] = i.[CPNo]	
		and p.[CPDate] = i.[CPDate]	
		and p.[CPValidity] = i.[CPValidity]	
		and p.[CPValidUpto] = i.[CPValidUpto]	
		and p.[BondNo] = i.[BondNo]	
		and p.[BondDate] = i.[BondDate]	
		and p.[BondValidUpto] = i.[BondValidUpto]	
		and p.[BondValidity] = i.[BondValidity]	
		and p.[OOCNo] = i.[OOCNo]	
		and p.[OOCDate] = i.[OOCDate]	
		and p.[EnhanceAVOrDV] = i.[EnhanceAVOrDV]	
		and p.[ConsolerID] = i.[ConsolerID]	
		and p.[ConsolerNAME] = i.[ConsolerNAME]	
		and p.[IMPORTERID] = i.[IMPORTERID]	
		and p.[IMPORTERNAME] = i.[IMPORTERNAME]	
		and p.[IMPORTERADDRESSID] = i.[IMPORTERADDRESSID] 
		and P.[IMPORTERADDRESSNAME] = i.[IMPORTERADDRESSNAME]
		and p.[BULKSTATUS] = i.[BULKSTATUS]
		and p.[SubCHAID] = i.[SubCHAID]
		and p.[SubCHA] = i.[SubCHA]
		and p.[CARGODESC] = i.[CARGODESC]
		and p.[GroupCommodityID]=i.[GroupCommodityID]
		and p.[GroupCommodity]=i.[GroupCommodity]
		and p.[PACKAGETYPEID]=i.[PACKAGETYPEID]
		and p.[PACKAGETYPE]=i.[PACKAGETYPE]
		and p.[COMMODITYID]=i.[COMMODITYID]
		and p.[COMMODITYNAME]=i.[COMMODITYNAME]
		and p.[SUBCOMMODITYID]=i.[SUBCOMMODITYID]
		and p.[SUBCOMMODITY]=i.[SUBCOMMODITY]
		and p.[NOOFPKGS]=i.[NOOFPKGS]
		and p.[NOOFPIECES]=i.[NOOFPIECES]
		and p.[WEIGHT]=i.[WEIGHT]
		and p.[EXCESSBOENOOFPKGS]=i.[EXCESSBOENOOFPKGS]
		and p.[EXCESSBOEWEIGHT]=i.[EXCESSBOEWEIGHT]
		and p.[MARKSANDNOS]=i.[MARKSANDNOS]
		and p.[Flagdeleted]=i.[Flagdeleted]
		and p.[Createdby]=i.[Createdby]
		and p.[CreatedDate]=i.[CreatedDate]
		and p.[UpdatedBy]=i.[UpdatedBy]
		and p.[UpdatedDate]=i.[UpdatedDate]
		and p.[YearID]=i.[YearID]
		and p.[LotPrefix]=i.[LotPrefix]
		and p.[BatchID]=i.[BatchID]
		and p.[BatchName]=i.[BatchName]
		and p.[EnhanceAssembleValue]=i.[EnhanceAssembleValue]
		and p.[EnhanceDutyvalue]=i.[EnhanceDutyvalue]
		and p.[AssessableValue]=i.[AssessableValue]
		and p.[Dutyvalue]=i.[Dutyvalue]
		and p.[Volume]=i.[Volume]
		and p.[Remarks]=i.[Remarks]
		and p.[ForwarderID]=i.[ForwarderID]
		and p.[Forwarder]=i.[Forwarder]
		and p.[CargoType]=i.[CargoType]
		and p.[IMO]=i.[IMO]
		and p.[UN]=i.[UN]
		and p.[TEMP]=i.[TEMP]
		and p.[CargoTypeID]=i.[CargoTypeID]
		and p.[NOCDateandTime]=i.[NOCDateandTime]
		and p.[NOCValidFrom]=i.[NOCValidFrom]
		and p.[NOCValidTo]=i.[NOCValidTo]
		and p.[LicenceNo]=i.[LicenceNo]
		


	)   
	BEGIN       
		SET NOCOUNT ON;       
		INSERT INTO [PREBONDED_HISTORY].[dbo].[trnDocumentLotDetails_History]
							([trnDocumentLotDetailsID]
							,[trnDocumentID],[LOTNO],[IGMNo],[ItemNo],[IGMDate],[BOEDate],[BOENo],[BLNo]
							,[BLDate],[IMPORTERADDRESSNAME],[CPStatus],[CPNo],[CPDate],[CPValidity],[CPValidUpto]
							,[BondNo],[BondDate],[BondValidUpto],[BondValidity],[OOCNo],[OOCDate],[EnhanceAVOrDV]
							,[ConsolerID],[ConsolerNAME],[IMPORTERID],[IMPORTERNAME],[IMPORTERADDRESSID],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate]
							,[Caption],[BULKSTATUS],[SubCHAID],[SubCHA],CARGODESC,[GroupCommodityID],[GroupCommodity],[PACKAGETYPEID],[PACKAGETYPE],[COMMODITYID],
							[COMMODITYNAME],[SUBCOMMODITYID],[SUBCOMMODITY],[NOOFPKGS],NOOFPIECES,WEIGHT,EXCESSBOENOOFPKGS,EXCESSBOEWEIGHT,MARKSANDNOS,Flagdeleted
							,YearID,LotPrefix,BatchID,BatchName,EnhanceAssembleValue,EnhanceDutyvalue,AssessableValue,
							Dutyvalue,Volume,Remarks,ForwarderID,Forwarder,CargoType,IMO,UN,TEMP,CargoTypeID,NOCDateandTime,NOCValidFrom,NOCValidTo,LicenceNo)
		SELECT [trnDocumentLotDetailsID]
							,[trnDocumentID],[LOTNO],[IGMNo],[ItemNo],[IGMDate],[BOEDate],[BOENo],[BLNo]
							,[BLDate],[IMPORTERADDRESSNAME],[CPStatus],[CPNo],[CPDate],[CPValidity],[CPValidUpto]
							,[BondNo],[BondDate],[BondValidUpto],[BondValidity],[OOCNo],[OOCDate],[EnhanceAVOrDV]
							,[ConsolerID],[ConsolerNAME],[IMPORTERID],[IMPORTERNAME],[IMPORTERADDRESSID],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate]
							,@caption,[BULKSTATUS],[SubCHAID],[SubCHA],CARGODESC,[GroupCommodityID],[GroupCommodity],[PACKAGETYPEID],[PACKAGETYPE],[COMMODITYID],
							[COMMODITYNAME],[SUBCOMMODITYID],[SUBCOMMODITY],[NOOFPKGS],NOOFPIECES,WEIGHT,EXCESSBOENOOFPKGS,EXCESSBOEWEIGHT,MARKSANDNOS,Flagdeleted,
							YearID,LotPrefix,BatchID,BatchName,EnhanceAssembleValue,EnhanceDutyvalue,AssessableValue,
							Dutyvalue,Volume,Remarks,ForwarderID,Forwarder,CargoType,IMO,UN,TEMP,CargoTypeID,NOCDateandTime,NOCValidFrom,NOCValidTo,LicenceNo
							FROM Inserted 

	
	END
	
	IF((SELECT COUNT(*) FROM MstrGeneralTariffNOCWiseDetails D
					INNER JOIN MstrGeneralTariffNOCWiseEffetiveDate NW ON NW.MstrGeneralTariffNOCWiseEffetiveDateID=D.MstrGeneralTariffNOCWiseEffetiveDateID AND NW.Flagdeleted=0
						WHERE trnDocumentID=(SELECT trnDocumentID FROM Inserted) AND ISNULL(D.IsInBOEGroup,0)=1)>0)
		BEGIN
		
			IF((SELECT COUNT(*) FROM MstrGeneralTariffNOCWiseDetails D
					INNER JOIN MstrGeneralTariffNOCWiseEffetiveDate NW ON NW.MstrGeneralTariffNOCWiseEffetiveDateID=D.MstrGeneralTariffNOCWiseEffetiveDateID AND NW.Flagdeleted=0
						WHERE trnDocumentID=(SELECT trnDocumentID FROM Inserted) AND ISNULL(D.IsInBOEGroup,0)=1 AND D.trnDocumentLotDetailsID=(SELECT trnDocumentLotDetailsID FROM inserted))=0)
		BEGIN

			INSERT INTO  [dbo].[MstrGeneralTariffNOCWiseEffetiveDate] (EffetiveDateFROM,EffectiveToDate,TeriffNo,Createdby,YearID)
			 SELECT TOP 1 EffetiveDateFROM,
					EffectiveToDate,(SELECT RIGHT('00000000'+CAST(Convert(varchar,(ISNULL((SELECT Max(CAST(TeriffNo AS INT))
					FROM MstrGeneralTariffNOCWiseEffetiveDate ),0)+1)) AS VARCHAR(255)), 
								CASE WHEN LEN((ISNULL((SELECT Max(CAST(TeriffNo AS INT)) FROM MstrGeneralTariffNOCWiseEffetiveDate  ),0)+1)) >
					((SELECT StrValue FROM ADMIN.generalsettings WHERE StrKey = 'LNONO' AND Flagdeleted = 0 AND IsActive = 1)-1) 
					THEN LEN((ISNULL((SELECT Max(CAST(TeriffNo AS INT)) FROM MstrGeneralTariffNOCWiseEffetiveDate ),0)+1)) 
					ELSE (SELECT StrValue FROM ADMIN.generalsettings WHERE StrKey = 'LNONO'  AND Flagdeleted = 0 AND IsActive = 1) END)) AS  TariffNo
					,(SELECT Createdby FROM inserted),(SELECT YearID FROM inserted)

					FROM MstrGeneralTariffNOCWiseEffetiveDate D
					INNER JOIN MstrGeneralTariffNOCWiseDetails ND ON ND.MstrGeneralTariffNOCWiseEffetiveDateID=D.MstrGeneralTariffNOCWiseEffetiveDateID AND ISNULL(IsInBOEGroup,0)=1  AND ND.trnDocumentID=(SELECT trnDocumentID FROM Inserted)
					WHERE D.Flagdeleted=0 
					ORDER BY D.MstrGeneralTariffNOCWiseEffetiveDateID DESC
			SELECT @InsertedID = SCOPE_IDENTITY();

			IF(@InsertedID > 0)
			BEGIN
				INSERT INTO [dbo].[MstrGeneralTariffNOCWise] (TariffHeadName,MstrTariffHeadID,ContSizeID,CargoSize,MstrNatureOfCargoID
									,CargoType,MstrBillableCommodityID,BillCommodity,MstrSubCommodityID,SubCommodity
									,Rate,Discount,RatePerMetricTon,RatePerUnit,Number,StoragePattern,FromDays,ToDays
									,MstrUomID,UOM,RateOfArea,FromWeek,ToWeek,DeliveryMode,DeliveryModeID,NW.YearID,MstrGeneralTariffNOCWiseEffetiveDateID)
					SELECT DISTINCT TariffHeadName,MstrTariffHeadID,ContSizeID,CargoSize,MstrNatureOfCargoID
									,CargoType,MstrBillableCommodityID,BillCommodity,MstrSubCommodityID,SubCommodity
									,Rate,Discount,RatePerMetricTon,RatePerUnit,Number,StoragePattern,FromDays,ToDays
									,MstrUomID,UOM,RateOfArea,FromWeek,ToWeek,DeliveryMode,DeliveryModeID,NW.YearID,@InsertedID 
					FROM MstrGeneralTariffNOCWise NW
					INNER JOIN MstrGeneralTariffNOCWiseDetails  ND ON ND.MstrGeneralTariffNOCWiseEffetiveDateID=NW.MstrGeneralTariffNOCWiseEffetiveDateID AND ISNULL(ND.IsInBOEGroup,0)=1 AND ND.trnDocumentID=(SELECT trnDocumentID FROM Inserted)
					INNER JOIN MstrGeneralTariffNOCWiseEffetiveDate NDD ON NDD.MstrGeneralTariffNOCWiseEffetiveDateID=ND.MstrGeneralTariffNOCWiseEffetiveDateID 
					WHERE NW.Flagdeleted=0					
		
			END
			IF(@InsertedID > 0)
			BEGIN
			INSERT INTO [dbo].[MstrGeneralTariffNOCWiseDetails] (MstrGeneralTariffNOCWiseEffetiveDateID,trnDocumentID,trnDocumentNo,InBOENO,trnDocumentLotDetailsID,IsInBOEGroup)
						SELECT @InsertedID,trnDocumentID
								,(SELECT DISTINCT D.trnDocumentPrefix+D.trnDocumentNo FROM trnDocument D 
															WHERE D.trnDocumentID=(SELECT trnDocumentID FROM inserted ))
								,BOENo,trnDocumentLotDetailsID,1  FROM inserted
			END	
			
		END	
		END


