USE [CFS_BONDED_WAREHOUSE]
GO

/****** Object:  Trigger [dbo].[TGR_trnDocument]    Script Date: 01/11/2024 5:34:14 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-------------------------
ALTER TRIGGER  [dbo].[TGR_trnDocument]   
 ON  [dbo].[trnDocument]   
   AFTER INSERT,UPDATE  
   AS     
   DECLARE @Caption varchar(50)  
    DECLARE @IsFinished BIT 
   IF EXISTS(SELECT * FROM Inserted)  
   Begin
		IF EXISTS(SELECT * FROM Deleted)      
			set @Caption = 'Edit'  
		ELSE      
			set @Caption = 'Insert'    
		
	END
	SET @IsFinished = (SELECT IsFinished FROM Inserted)
	IF NOT EXISTS (SELECT * FROM Inserted p  
		JOIN Deleted AS i ON 
		p.[trnDocumentID] = i.[trnDocumentID]	
		and P.[GateInType] = i.[GateInType]
		and P.[AgentID] = i.[AgentID]
		and P.[AgentName] = i.[AgentName]
		and P.[LineID] = i.[LineID]
		and P.[LineName] = i.[LineName]
		and P.[LocationFromID] = i.[LocationFromID]
		and P.[LocationFrom] = i.[LocationFrom]
		and P.[VCNID] = i.[VCNID]
		and P.[VCNNO] = i.[VCNNO]
		and P.[VesselName] = i.[VesselName]
		and P.[VOYNO] = i.[VOYNO]
		and P.[ContactName] = i.[ContactName]
		and P.[ContactNumber] = i.[ContactNumber]
		and P.[Remarks] = i.[Remarks]
		and P.[Flagdeleted] = i.[Flagdeleted]
		and P.[Status] = i.[Status]
		and P.[StatusRemarks] = i.[StatusRemarks]
		and P.[HoldAgency] = i.[HoldAgency]
		and P.[YearID] = i.[YearID]
		and P.[CycleID] = i.[CycleID]
		and P.[CycleName] = i.[CycleName]
		and P.[trnDocumentPrefix] = i.[trnDocumentPrefix]
		and P.[trnDocumentNo] = i.[trnDocumentNo]
		and P.[ContactName] = i.[ContactName]
		and P.[ContactNumber] = i.[ContactNumber]
		and P.[NoOf20] = i.[NoOf20]
		and P.[NoOf40] = i.[NoOf40]
		and P.[NoOf45] = i.[NoOf45]
		and P.[MstrUomID] = i.[MstrUomID]
		and P.[MstrUomName] = i.[MstrUomName]
		and P.[SpaceCerificateIssuedTo] = i.[SpaceCerificateIssuedTo]
		and P.[BillCommodity] = i.[BillCommodity]
		and P.[BillCommodityID] = i.[BillCommodityID]
		and P.[CargoType] = i.[CargoType]
		and P.[CargoTypeID] = i.[CargoTypeID]
		and P.[TotalArea] = i.[TotalArea]
		and P.[IsFinished] = i.[IsFinished]
		and P.[ExpectedDateWH] = i.[ExpectedDateWH]
		and P.[ExpectedReqPeriodInWH] = i.[ExpectedReqPeriodInWH]
		and P.[AdditionalArea] = i.[AdditionalArea]
		and P.[AreaRequired] = i.[AreaRequired]
		and P.[PortLoading] = i.[PortLoading]
		and P.[Consolidator] = i.[Consolidator]
		and P.[ConsolidatorID] = i.[ConsolidatorID]
		and P.[CHACellNo] = i.[CHACellNo]
		and P.[CHAPerson] = i.[CHAPerson]
		and P.[DeleteReason] = i.[DeleteReason]
	)   
	BEGIN       
		SET NOCOUNT ON;       
		INSERT INTO [CFS_BONDED_WAREHOUSE_History].[dbo].[trnDocument_History]
							([trnDocumentID],trnDocumentPrefix,trnDocumentNo,NoOf20,NoOf40,NoOf45,MstrUomID,MstrUomName,
							SpaceCerificateIssuedTo,BillCommodity,BillCommodityID,CargoType,CargoTypeID,TotalArea,IsFinished,ExpectedDateWH,ExpectedReqPeriodInWH
							,AdditionalArea,AreaRequired,PortLoading,Consolidator,ConsolidatorID,CHACellNo,CHAPerson,DeleteReason,[GateInType]
							,[AgentID],[AgentName],[LineID],[LineName],[LocationFromID],[LocationFrom],[VCNID],[VCNNO],[VesselName],[VOYNO],[Remarks],[Flagdeleted],
							[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate],[Caption],[Status],[StatusRemarks],[HoldAgency],[YearID],[CycleID],[CycleName],[ContactName],[ContactNumber])
					SELECT [trnDocumentID],trnDocumentPrefix,trnDocumentNo,NoOf20,NoOf40,NoOf45,MstrUomID,MstrUomName,
					SpaceCerificateIssuedTo,BillCommodity,BillCommodityID,CargoType,CargoTypeID,TotalArea,IsFinished,ExpectedDateWH,ExpectedReqPeriodInWH
						,AdditionalArea,AreaRequired,PortLoading,Consolidator,ConsolidatorID,CHACellNo,CHAPerson,DeleteReason,[GateInType]
						,[AgentID],[AgentName],[LineID],[LineName],[LocationFromID],[LocationFrom],[VCNID],[VCNNO],[VesselName],[VOYNO],[Remarks],[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate],@Caption,[Status],[StatusRemarks],[HoldAgency],[YearID],[CycleID],[CycleName],[ContactName],[ContactNumber] FROM Inserted 
	END    

	--IF(@IsFinished = 1 AND (SELECT IsFinished FROM Deleted) = 0)
	--	BEGIN
				
	--			IF (SELECT COUNT(*) FROM   MstrGeneralTariffNOCWisedetails
	--				JOIN MstrGeneralTariffNOCWiseEffetiveDate ON MstrGeneralTariffNOCWiseEffetiveDate.MstrGeneralTariffNOCWiseEffetiveDateID = MstrGeneralTariffNOCWisedetails.MstrGeneralTariffNOCWiseEffetiveDateID
	--				WHERE TeriffNo = (SELECT DISTINCT TariffHead
	--									FROM trnDocumentLotDetails 
	--								   where trnDocumentID = (SELECT top 1 trnDocumentID FROM Inserted) 
	--								   and flagdeleted = 0)
	--				AND MstrGeneralTariffNOCWisedetails.trnDocumentID = 0  ) > 0
	--			BEGIN
	--				Update MstrGeneralTariffNOCWisedetails SET trnDocumentID  = (SELECT top 1 trnDocumentID FROM Inserted),
	--															trnDocumentNo  = (SELECT top 1 trnDocumentPrefix + trnDocumentNo FROM Inserted)																
	--				FROM MstrGeneralTariffNOCWisedetails
	--				JOIN MstrGeneralTariffNOCWiseEffetiveDate G on G.MstrGeneralTariffNOCWiseEffetiveDateID = MstrGeneralTariffNOCWisedetails.MstrGeneralTariffNOCWiseEffetiveDateID
	--				WHERE g.TeriffNo  in (SELECT  DISTINCT TariffHead FROM trnDocumentLotDetails where trnDocumentID =(SELECT top 1 trnDocumentID FROM Inserted) and flagdeleted = 0) and flagdeleted = 0				
	--				AND MstrGeneralTariffNOCWisedetails.trnDocumentID = 0
				
	--			END
	--			ELSE
	--			BEGIN
	--				INSERT INTO MstrGeneralTariffNOCWisedetails (MstrGeneralTariffNOCWiseEffetiveDateID,trnDocumentID,trnDocumentNo)
	--			   VALUES(( SELECT top 1 MstrGeneralTariffNOCWiseEffetiveDateID
	--			    FROM MstrGeneralTariffNOCWiseEffetiveDate  
	--			   WHERE TeriffNo  in (SELECT DISTINCT TariffHead
	--									FROM trnDocumentLotDetails 
	--								   where trnDocumentID = (SELECT top 1 trnDocumentID FROM Inserted) and flagdeleted = 0) and flagdeleted = 0),(SELECT top 1 trnDocumentID FROM Inserted),(SELECT top 1 trnDocumentPrefix + trnDocumentNo FROM Inserted) )
	--			END

				


	--	END

		--IF(@IsFinished = 1 AND (SELECT IsFinished FROM Deleted) = 1)
		--BEGIN
		--			IF (SELECT COUNT(*) FROM   MstrGeneralTariffNOCWisedetails
		--			JOIN MstrGeneralTariffNOCWiseEffetiveDate ON MstrGeneralTariffNOCWiseEffetiveDate.MstrGeneralTariffNOCWiseEffetiveDateID = MstrGeneralTariffNOCWisedetails.MstrGeneralTariffNOCWiseEffetiveDateID
		--			WHERE TeriffNo = (SELECT DISTINCT TariffHead
		--								FROM trnDocumentLotDetails 
		--							   where trnDocumentID = 2
		--							   and flagdeleted = 0)
		--			AND MstrGeneralTariffNOCWisedetails.trnDocumentID = 0  ) = 0
		--		BEGIN

		--		DELETE FROM MstrGeneralTariffNOCWisedetails WHERE trnDocumentID=(SELECT top 1 trnDocumentID FROM Inserted)
				
		--		INSERT INTO MstrGeneralTariffNOCWisedetails (MstrGeneralTariffNOCWiseEffetiveDateID,trnDocumentID,trnDocumentNo)
		--		   (SELECT   MstrGeneralTariffNOCWiseEffetiveDateID
		--			   ,(SELECT top 1 trnDocumentID FROM Inserted) AS trnDocumentID,
		--			   (SELECT top 1 trnDocumentPrefix + trnDocumentNo FROM Inserted) AS trnDocumentNo

		--			   FROM MstrGeneralTariffNOCWiseEffetiveDate  
		--			   WHERE TeriffNo  in (SELECT DISTINCT TariffHead
		--								FROM trnDocumentLotDetails 
		--							   where trnDocumentID = (SELECT top 1 trnDocumentID FROM Inserted) and flagdeleted = 0) and flagdeleted = 0) 
		--		END
		--		ELSE
		--		BEGIN
		--			Update MstrGeneralTariffNOCWisedetails SET trnDocumentID  = (SELECT top 1 trnDocumentID FROM Inserted),
		--														trnDocumentNo  = (SELECT top 1 trnDocumentPrefix + trnDocumentNo FROM Inserted)																
		--			FROM MstrGeneralTariffNOCWisedetails
		--			JOIN MstrGeneralTariffNOCWiseEffetiveDate G on G.MstrGeneralTariffNOCWiseEffetiveDateID = MstrGeneralTariffNOCWisedetails.MstrGeneralTariffNOCWiseEffetiveDateID
		--			WHERE g.TeriffNo  in (SELECT  DISTINCT TariffHead FROM trnDocumentLotDetails where trnDocumentID =(SELECT top 1 trnDocumentID FROM Inserted) and flagdeleted = 0) and flagdeleted = 0				
		--			AND MstrGeneralTariffNOCWisedetails.trnDocumentID = 0
		--		END
		--END
