USE [CFS_BONDED_WAREHOUSE]
GO
/****** Object:  Trigger [dbo].[TGR_trnExportDocumentDeclarationItems]    Script Date: 1/10/2024 11:36:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------
CREATE TRIGGER  [dbo].[TGR_trnExportDocumentDeclarationItems]   
 ON  [dbo].[trnExportDocumentDeclarationItems]   
   AFTER INSERT,UPDATE  
   AS     
   DECLARE @Caption varchar(50)  
   IF EXISTS(SELECT * FROM Inserted)  
   Begin
		IF EXISTS(SELECT * FROM Deleted)      
			set @Caption = 'Edit'  
		ELSE      
			set @Caption = 'Insert'    
	END
	IF NOT EXISTS (SELECT * FROM Inserted p  
		JOIN Deleted AS i ON 
		p.[trnExportDocumentDeclarationItemsID] = i.[trnExportDocumentDeclarationItemsID]	
		and p.[trnExportDocumentDeclarationID] = i.[trnExportDocumentDeclarationID]	
		and p.[trnExportDocumentDeclarationLotDetailsID] = i.[trnExportDocumentDeclarationLotDetailsID]	
		and p.[trnDocumentLotDetailsID] = i.[trnDocumentLotDetailsID]	
		and p.[CargoName] = i.[CargoName]	
		and p.[CargoDesc] = i.[CargoDesc]	
		and p.[NoOfPackages] = i.[NoOfPackages]	
		and p.[NoOfPieces] = i.[NoOfPieces]	
		and p.[Weight] = i.[Weight]	
		and p.[WHLocation] = i.[WHLocation]	
		and p.[WHLocationID] = i.[WHLocationID]	
		and p.[trnDocumentBoiItemsID] = i.[trnDocumentBoiItemsID]	
		and p.[AreaRequired] = i.[AreaRequired]	
		and p.[Flagdeleted] = i.[Flagdeleted]
		and p.[trnExBondDocumentEntryDetailsID]=i.[trnExBondDocumentEntryDetailsID]
	)   
	BEGIN       
		SET NOCOUNT ON;       
		INSERT INTO [CFS_BONDED_WAREHOUSE_History].[dbo].[trnExportDocumentDeclarationItems_History]
							([trnExportDocumentDeclarationItemsID]
							,[trnExportDocumentDeclarationID],[trnExportDocumentDeclarationLotDetailsID],[trnDocumentLotDetailsID],[CargoName],[CargoDesc],[NoOfPackages],[NoOfPieces]
							,[Weight],[WHLocation],[WHLocationID],[trnDocumentBoiItemsID],[AreaRequired],[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate]
							,[Caption],[trnExBondDocumentEntryDetailsID])
		SELECT [trnExportDocumentDeclarationItemsID]
							,[trnExportDocumentDeclarationID],[trnExportDocumentDeclarationLotDetailsID],[trnDocumentLotDetailsID],[CargoName],[CargoDesc],[NoOfPackages],[NoOfPieces]
							,[Weight],[WHLocation],[WHLocationID],[trnDocumentBoiItemsID],[AreaRequired],[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate]
							,@caption,[trnExBondDocumentEntryDetailsID]
							FROM Inserted 
	END


