USE [CFS_BONDED_WAREHOUSE]
GO
/****** Object:  Trigger [dbo].[TGR_trnContainerSSRDetails]    Script Date: 5/16/2024 5:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER  [dbo].[TGR_trnContainerSSRDetails]   
 ON  [dbo].[trnContainerSSRDetails]   
   AFTER INSERT,UPDATE  
   AS     
   DECLARE @Caption varchar(50)  

   IF EXISTS(SELECT * FROM Inserted)  
   Begin
		IF EXISTS(SELECT * FROM Deleted)      
			set @Caption = 'Edit'  
		ELSE      
			set @Caption = 'Insert'    
		
	END
	IF NOT EXISTS (SELECT * FROM Inserted p  
		JOIN Deleted AS i ON 
		p.[trnContainerSSRDetailsID] = i.[trnContainerSSRDetailsID]	
		and p.[ContainerSSRID] = i.[ContainerSSRID]
		and p.[ContNo] = i.[ContNo] 
		and p.[ContNoID] = i.[ContNoID] 
		and p.[Size] = i.[Size] 
		and p.[Type] = i.[Type] 
		and p.[CargoType] = i.[CargoType] 
		and p.[SSRBillableHead] = i.[SSRBillableHead] 
		and p.[SSRBillableHeadID] = i.[SSRBillableHeadID] 
		and p.[Quantity] = i.[Quantity] 
		and P.[Rate] = i.[Rate]
		and p.[AdditionalRate] = i.[AdditionalRate] 
		and p.[TotalAmount] = i.[TotalAmount] 
		and p.[Status] = i.[Status] 
		and p.[Remark] = i.[Remark] 
		and p.[Flagdeleted] = i.[Flagdeleted] 
		and p.[Discount] = i.[Discount] and 
			p.[GSTPer] = i.[GSTPer]
	)   
	BEGIN       
		SET NOCOUNT ON;       
		INSERT INTO [CFS_BONDED_WAREHOUSE_History].[dbo].[trnContainerSSRDetails_History]
							([trnContainerSSRDetailsID],[ContainerSSRID],[ContNo],[ContNoID],
							[Size],[Type],[CargoType],[SSRBillableHead],[SSRBillableHeadID],[Quantity],
							[Rate],[AdditionalRate],[TotalAmount],[Status],
							[Remark],[Flagdeleted],[Createdby],[CreatedDate],
							[UpdatedBy],[UpdatedDate],[Caption],[Discount],[GSTPer])
					SELECT [trnContainerSSRDetailsID],[ContainerSSRID],[ContNo],[ContNoID],
							[Size],[Type],[CargoType],[SSRBillableHead],[SSRBillableHeadID],[Quantity],
							[Rate],[AdditionalRate],[TotalAmount],[Status],
							[Remark],[Flagdeleted],[Createdby],[CreatedDate],
							[UpdatedBy],[UpdatedDate],@Caption, [Discount], [GSTPer] FROM Inserted 
	END    

