USE [CFS_BONDED_WAREHOUSE]
GO
/****** Object:  Trigger [dbo].[TGR_trnContainerSSRLotDetails]    Script Date: 5/16/2024 3:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER  [dbo].[TGR_trnContainerSSRLotDetails]     
 ON  [dbo].[trnContainerSSRLotDetails]     
   AFTER INSERT,UPDATE    
   AS       
   DECLARE @Caption varchar(50)    
   IF EXISTS(SELECT * FROM Inserted)    
   Begin  
  IF EXISTS(SELECT * FROM Deleted)        
   set @Caption = 'Edit'    
  ELSE        
   set @Caption = 'Insert'      
  
 END  
 IF NOT EXISTS (SELECT * FROM Inserted p    
  JOIN Deleted AS i ON   
  p.[trnContainerSSRLotDetailsID] = i.[trnContainerSSRLotDetailsID]   
  and p.[ContainerSSRID] = i.[ContainerSSRID]  
  and p.[LotNo] = i.[LotNo]   
  and p.[BOENo] = i.[BOENo]   
  and p.[BOEDate] = i.[BOEDate]   
  and p.[BLNo] = i.[BLNo]   
  and p.[BLDate] = i.[BLDate]   
  and p.[CargoDesc] = i.[CargoDesc]    
  and P.[Flagdeleted] = i.[Flagdeleted]  
  AND p.[Createdby]=i.[Createdby]  
  and p.[CreatedDate]=i.[CreatedDate]  
  and p.[UpdatedBy]=i.[UpdatedBy]  
  and p.[UpdatedDate]=i.[UpdatedDate]  
  and p.[trnDocumentLotDetailsID]=i.[trnDocumentLotDetailsID]  
 )     
 BEGIN         
  SET NOCOUNT ON;         
  INSERT INTO [CFS_BONDED_WAREHOUSE_History].[dbo].[trnContainerSSRLotDetails_History]  
       ([trnContainerSSRLotDetailsID],[ContainerSSRID],[LotNo],[BOENo],  
       [BOEDate],[BLNo],[BLDate],[CargoDesc],
       [Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],  
       [UpdatedDate],[Caption],[trnDocumentLotDetailsID])  
     SELECT [trnContainerSSRLotDetailsID],[ContainerSSRID],[LotNo],[BOENo],  
       [BOEDate],[BLNo],[BLDate],[CargoDesc],
       [Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],  
       [UpdatedDate],@Caption,[trnDocumentLotDetailsID] FROM Inserted   
 END      



