USE [cfs_BONDED_WAREHOUSE]
GO
/****** Object:  Trigger [dbo].[TGR_trnLoadedContainerOutGP]    Script Date: 1/26/2024 11:20:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[TGR_trnLoadedContainerOutGP]   
 ON  [dbo].[trnLoadedContainerOutGP]   
 
   AFTER INSERT,UPDATE  
   AS     
   DECLARE @Caption varchar(50)
   DECLARE @IsApproved varchar(50)
   set @IsApproved = (select [IsApproved] from Inserted)
   IF EXISTS(SELECT * FROM Inserted)  
   Begin
		IF EXISTS(SELECT * FROM Deleted)      
			set @Caption = 'Edit'  
		ELSE      
			set @Caption = 'Insert'    
	END


	IF NOT EXISTS (SELECT * FROM Inserted p  
		JOIN Deleted AS i ON 
		p.[trnLoadedContainerOutGPID] = i.[trnLoadedContainerOutGPID]	
		and p.[trnLoadedContainerOutGPPrefix] = i.[trnLoadedContainerOutGPPrefix]
		and p.[trnLoadedContainerOutGPNo] = i.[trnLoadedContainerOutGPNo] 
		and p.[TruckNo] = i.[TruckNo] 
		and p.[trnEmptyTruckGateInID] = i.[trnEmptyTruckGateInID]
		and P.[Flagdeleted] = i.[Flagdeleted]
		and p.[Remarks] = i.[Remarks]
		and p.[IsApproved] = i.[IsApproved]
		and p.[YearID] = i.[YearID]
	)   
	BEGIN       
		SET NOCOUNT ON;       
		INSERT INTO [cfs_BONDED_WAREHOUSE_History].[dbo].[trnLoadedContainerOutGP_History]
							([trnLoadedContainerOutGPID],[trnLoadedContainerOutGPPrefix],[trnLoadedContainerOutGPNo],[TruckNo],[trnEmptyTruckGateInID],[Remarks],[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate],[Caption],[IsApproved],[YearID])

					SELECT [trnLoadedContainerOutGPID],[trnLoadedContainerOutGPPrefix],[trnLoadedContainerOutGPNo],[TruckNo],[trnEmptyTruckGateInID],[Remarks],[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate],@Caption,[IsApproved],[YearID] FROM Inserted 
	END    

	IF((SELECT count(*) FROM Deleted) = 0)
	BEGIN		
		 UPDATE [cfs_BONDED_WAREHOUSE].[dbo].[trnTruckInfo] SET [Flagdeleted] = 1 WHERE [TruckNo] = (SELECT TOP 1 [TruckNo] FROM Inserted)  
		 --UPDATE [cfs_BONDED_WAREHOUSE].[dbo].[trnTruckInfo] SET [Flagdeleted] = 1 WHERE [TruckNo] = (SELECT TOP 1 [TruckNo] FROM Inserted) AND ID=(SELECT trnEmptyTruckGateInID FROM Inserted)  --and Type='ETG'
	END
	ELSE IF((SELECT Flagdeleted FROM Deleted)=0 AND (SELECT Flagdeleted FROM Inserted) = 1)
	BEGIN
		UPDATE [cfs_BONDED_WAREHOUSE].[dbo].[trnTruckInfo] SET [Flagdeleted] = 0 WHERE [TruckNo] = (SELECT TOP 1 [TruckNo] FROM Inserted) AND ID=(SELECT trnEmptyTruckGateInID FROM Inserted) --and Type='ETG'
	END


