USE [CFS_BONDED_WAREHOUSE]
GO
/****** Object:  Trigger [dbo].[TGR_trnEmptyTruckOutWO]    Script Date: 1/9/2024 6:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER  [dbo].[TGR_trnEmptyTruckOutWO]   
 ON  [dbo].[trnEmptyTruckOutWO]   
 
   AFTER INSERT,UPDATE  
   AS     
   DECLARE @Caption varchar(50)  
   DECLARE @IsFinished BIT
   
   IF EXISTS(SELECT * FROM Inserted)  
   Begin
		IF EXISTS(SELECT * FROM Deleted)      
			set @Caption = 'Edit'  
		ELSE      
			set @Caption = 'Insert'    

		
	END
	SET @IsFinished = (SELECT IsFinished FROM Inserted)

	IF NOT EXISTS (SELECT * FROM Inserted p  
		JOIN Deleted AS i ON 
		p.[trnEmptyTruckOutWOID] = i.[trnEmptyTruckOutWOID]
		and p.[TruckNo] = i.[TruckNo] 
		and p.[WorkOrderID] = i.[WorkOrderID] 
		and p.[Driver] = i.[Driver] 
		and p.[LicenceNo] = i.[LicenceNo] 
		and p.[MobileNo] = i.[MobileNo] 
		and p.[Address] = i.[Address] 
		and p.[Containerplacedontruck] = i.[Containerplacedontruck]
		and P.[Flagdeleted] = i.[Flagdeleted]
		and p.[IsApproved] = i.[IsApproved]
		and P.[ApproveRemarks] = i.[ApproveRemarks]
		and p.[UnApproveRemarks] = i.[UnApproveRemarks]
		and p.[Remarks] = i.[Remarks]
		and p.[IsFinished] = i.[IsFinished]
		and p.[YearID] = i.[YearID]
	)   
	BEGIN       
		SET NOCOUNT ON;       
		INSERT INTO [CFS_BONDED_WAREHOUSE_History].[dbo].[trnEmptyTruckOutWO_History]
							([trnEmptyTruckOutWOID],[TruckNo],[WorkOrderID],[DriverID],[Driver],[LicenceNo],[MobileNo],[Address],[Containerplacedontruck]
							,[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate],[Caption],[IsApproved], [ApproveRemarks], [UnApproveRemarks], [Remarks],[IsFinished],[YearID])

					SELECT [trnEmptyTruckOutWOID],[TruckNo],[WorkOrderID],[DriverID],[Driver],[LicenceNo],[MobileNo],[Address],[Containerplacedontruck]
							,[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate],@Caption,[IsApproved], [ApproveRemarks], [UnApproveRemarks] ,[Remarks],[IsFinished],[YearID] FROM Inserted 
	END    
	
 
	IF(@IsFinished = 1 AND (SELECT Flagdeleted FROM Inserted) = 0)
	BEGIN
		
		UPDATE [CFS_BONDED_WAREHOUSE].[dbo].[trnTruckInfo] SET [Flagdeleted] = 1 WHERE [TruckNo] = (SELECT TOP 1 Item FROM [dbo].[SplitString]((SELECT TruckNo From inserted),'-')) and [Flagdeleted] = 0
	END
	ELSE IF(@IsFinished = 1 AND (SELECT Flagdeleted FROM Inserted) = 1)
	BEGIN
		IF((SELECT TruckInfoType From inserted)=('ECG'))
		BEGIN
			UPDATE [CFS_BONDED_WAREHOUSE].[dbo].[trnTruckInfo] SET [Flagdeleted] = 0 WHERE [TruckNo] = (SELECT TOP 1 Item FROM [dbo].[SplitString]((SELECT TruckNo From inserted),'-')) and [Flagdeleted] = 1 and Type='ECG' AND ID=(SELECT WorkOrderID From inserted)
		END			
		ELSE if((SELECT TruckInfoType From inserted)='CL')
		BEGIN
			UPDATE [CFS_BONDED_WAREHOUSE].[dbo].[trnTruckInfo] SET  [Flagdeleted] = 0 WHERE [TruckNo] = (SELECT TOP 1 Item FROM [dbo].[SplitString]((SELECT TruckNo From inserted),'-')) and [Flagdeleted] = 1 and Type='CL' AND ID=(SELECT WorkOrderID From inserted)
		END
		ELSE if((SELECT TruckInfoType From inserted)='ETG')
		BEGIN
			UPDATE [CFS_BONDED_WAREHOUSE].[dbo].[trnTruckInfo] SET  [Flagdeleted] = 0 WHERE [TruckNo] = (SELECT TOP 1 Item FROM [dbo].[SplitString]((SELECT TruckNo From inserted),'-')) and [Flagdeleted] = 1 and Type='ETG' AND trnWorkOrderOutID =(SELECT WorkOrderID From inserted)
		END
		ELSE if((SELECT TruckInfoType From inserted)='TD')
		BEGIN
			UPDATE [CFS_BONDED_WAREHOUSE].[dbo].[trnTruckInfo] SET  [Flagdeleted] = 0 WHERE [TruckNo] = (SELECT TOP 1 Item FROM [dbo].[SplitString]((SELECT TruckNo From inserted),'-')) and [Flagdeleted] = 1 and Type='TD' and WorkOrderID = (SELECT WorkOrderID From inserted)
		END
	END




