USE [CFS_BONDED_WAREHOUSE]
GO
/****** Object:  Trigger [dbo].[TGR_trnExportMovementWOContainerDetails]    Script Date: 1/18/2024 9:48:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
      
      
      
CREATE TRIGGER [dbo].[TGR_trnExportMovementWOContainerDetails]       
 ON  [dbo].[trnExportMovementWOContainerDetails]       
       
   AFTER INSERT,UPDATE        
   AS           
   DECLARE @Caption varchar(50)        
         
 IF EXISTS(SELECT * FROM Inserted)          
  IF EXISTS(SELECT * FROM Deleted)            
   set @Caption = 'Edit'        
  ELSE            
   set @Caption = 'Insert'          
   BEGIN           
   IF NOT EXISTS (      
    SELECT *             FROM Inserted p                    
     JOIN Deleted AS i              ON       
      p.[trnExportMovementWOContainerDetailsID] = i.[trnExportMovementWOContainerDetailsID] and       
      p.[trnExportMovementWOID] = i.[trnExportMovementWOID] and       
      p.[trnexportstufingwoContainerDetailsID] = i.[trnexportstufingwoContainerDetailsID] and       
      p.[ContainerNo] = i.[ContainerNo] and         
      p.[VCNNo] = i.[VCNNo] and       
      p.[VCNID] = i.[VCNID] and       
      p.[VOYNo] = i.[VOYNo] and        
      p.[PortLocation] = i.[PortLocation] and        
      p.[VesselName] = i.[VesselName] and       
      p.[CutoffDate] = i.[CutoffDate] and       
      p.[Flagdeleted] = i.[Flagdeleted]       
             
     )         
     BEGIN             
      SET NOCOUNT ON;             
      INSERT INTO [CFS_BONDED_WAREHOUSE_HISTORY].[dbo].[trnExportMovementWOContainerDetails_History]      
             ([trnExportMovementWOContainerDetailsID]      
              ,[trnExportMovementWOID]      
              ,[trnexportstufingwoContainerDetailsID]      
              ,[ContainerNo]      
              ,[VCNNo]      
              ,[VCNID]      
              ,[VOYNo]       
              ,[PortLocation]      
              ,[VesselName]       
              ,[CutoffDate]       
              ,[Flagdeleted]      
              ,[Createdby]      
              ,[CreatedDate]      
              ,[UpdatedBy]      
              ,[UpdatedDate]      
              ,[Caption])      
            
            
    SELECT     [trnExportMovementWOContainerDetailsID]      
         ,[trnExportMovementWOID]      
         ,[trnexportstufingwoContainerDetailsID]      
         ,[ContainerNo]      
         ,[VCNNo]      
         ,[VCNID]      
         ,[VOYNo]       
         ,[PortLocation]      
         ,[VesselName]       
         ,[CutoffDate]       
         ,[Flagdeleted]      
         ,[Createdby]      
         ,[CreatedDate]      
         ,[UpdatedBy]      
         ,[UpdatedDate]      
         ,@caption FROM Inserted       
     END          
   END       
