USE [CFS_BONDED_WAREHOUSE]
GO
/****** Object:  Trigger [dbo].[TGR_trnCargoSSRLotDetails]    Script Date: 5/16/2024 11:15:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER  [dbo].[TGR_trnCargoSSRLotDetails]   
 ON  [dbo].[trnCargoSSRLotDetails]   
   AFTER INSERT,UPDATE  
   AS     
   DECLARE @Caption varchar(50)  
	IF EXISTS(SELECT * FROM Inserted)    
		IF EXISTS(SELECT * FROM Deleted)      
			set @Caption = 'Edit'  
		ELSE      
			set @Caption = 'Insert'    
			BEGIN     
			IF NOT EXISTS (
				SELECT *             FROM Inserted p              
					JOIN Deleted AS i              ON 
						p.[trnCargoSSRID] = i.[trnCargoSSRID]	and 
						p.[LotNo] = i.[LotNo] and 
						p.[BOENo] = i.[BOENo] and 
						p.[BOEDate] = i.[BOEDate] and 
						p.[BLNo] = i.[BLNo] and 
						p.[BLDate] = i.[BLDate] and 
						p.[CargoDesc] = i.[CargoDesc] and  
						p.[CheckedDocumentLotID] = i.[CheckedDocumentLotID] and 
						p.[FlagDeleted] = i.[FlagDeleted]
					)   
					BEGIN       
						SET NOCOUNT ON;       
						INSERT INTO [CFS_BONDED_WAREHOUSE_History].[dbo].[trnCargoSSRLotDetails_history]
										   ([trnCargoSSRLotDetailsID]
												  ,[trnCargoSSRID]
												  ,[LotNo]
												  ,[BOENo]
												  ,[BOEDate]
												  ,[BLNo]
												  ,[BLDate]
												  ,[CargoDesc]
												  ,[FlagDeleted]
												  ,[CreatedBy]
												  ,[CreatedDate]
												  ,[UpdatedBy]
												  ,[UpdatedDate]
												  ,[CheckedDocumentLotID]
												  ,[Caption])
						SELECT [trnCargoSSRLotDetailsID]
											  ,[trnCargoSSRID]
											  ,[LotNo]
											  ,[BOENo]
											  ,[BOEDate]
											  ,[BLNo]
											  ,[BLDate]
											  ,[CargoDesc]
											  ,[FlagDeleted]
											  ,[CreatedBy]
											  ,[CreatedDate]
											  ,[UpdatedBy]
											  ,[UpdatedDate]
											  ,[CheckedDocumentLotID]
											,@caption
										    FROM Inserted 
					END    
			END	


