USE CFS_BONDED_WAREHOUSE
GO
/****** Object:  Trigger [dbo].[TGR_trnEmptyContainerGateInDetails]    Script Date: 1/11/2024 4:46:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------
CREATE TRIGGER  [dbo].[TGR_trnEmptyContainerGateInDetails]   
 ON  [dbo].[trnEmptyContainerGateInDetails]   
   AFTER INSERT,UPDATE  
   AS     
   DECLARE @Caption varchar(50)  
   IF EXISTS(SELECT * FROM Inserted)  
   Begin
		IF EXISTS(SELECT * FROM Deleted)      
			set @Caption = 'Edit'  
		ELSE      
			set @Caption = 'Insert'    
		
	END
	IF NOT EXISTS (SELECT * FROM Inserted p  
		JOIN Deleted AS i ON 
		p.[trnEmptyContainerGateInDetailsID] = i.[trnEmptyContainerGateInDetailsID]	
		and p.[trnEmptyContainerGateInID] = i.[trnEmptyContainerGateInID]
		and p.[ContainerNumber] = i.[ContainerNumber] 
		and p.[ISOCode] = i.[ISOCode] 
		and p.[WOISOCode] = i.[WOISOCode] 
		and p.[WOISOCodeSize] = i.[WOISOCodeSize] 
		and p.[WOISOCodeType] = i.[WOISOCodeType] 
		and p.[GrossWeight] = i.[GrossWeight] 
		and p.[TareWeight] = i.[TareWeight] 
		and p.[Condition] = i.[Condition] 
		and p.[ConditionRemarks] = i.[ConditionRemarks] 
		and P.[Flagdeleted] = i.[Flagdeleted]
		and P.[trnEmptyContainerInWOContainerDetailsID] = i.[trnEmptyContainerInWOContainerDetailsID]
		and P.[ISOCodeID] = i.[ISOCodeID]
	)   
	BEGIN       
		SET NOCOUNT ON;       
		INSERT INTO [CFS_BONDED_WAREHOUSE_History].[dbo].[trnEmptyContainerGateInDetails_History]
							([trnEmptyContainerGateInDetailsID],[trnEmptyContainerGateInID],[ContainerNumber],[ISOCode],[WOISOCode],[WOISOCodeSize],[WOISOCodeType],[GrossWeight],[TareWeight]
							,[Condition],[ConditionRemarks],[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate],[Caption],[trnEmptyContainerInWOContainerDetailsID],[ISOCodeID])

					SELECT [trnEmptyContainerGateInDetailsID],[trnEmptyContainerGateInID],[ContainerNumber],[ISOCode],[WOISOCode],[WOISOCodeSize],[WOISOCodeType],[GrossWeight],[TareWeight]
							,[Condition],[ConditionRemarks],[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate],@Caption,[trnEmptyContainerInWOContainerDetailsID],[ISOCodeID] FROM Inserted 
	END    


