USE [CFS_BONDED_WAREHOUSE]
GO
/****** Object:  Trigger [dbo].[TGR_trnContainerGateIn]    Script Date: 1/9/2024 6:54:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TGR_trnContainerGateIn]
 ON  [dbo].[trnContainerGateIn]
   AFTER INSERT,UPDATE
   AS
   DECLARE @Caption varchar(50)
   DECLARE @IsFinished BIT
    DECLARE @IsApproved BIT
   DECLARE @IsLoaded BIT
   IF EXISTS(SELECT * FROM Inserted)
   Begin
		IF EXISTS(SELECT * FROM Deleted)
			set @Caption = 'Edit'
		ELSE
			set @Caption = 'Insert'
		
	END
	SET @IsFinished = (SELECT IsFinished FROM Inserted)
	SET @IsApproved = (SELECT IsApproved FROM Inserted)
	SET @IsLoaded = CASE WHEN (SELECT  top 1  DC.DeliveryMode FROM trnContainerGateIn CG
					 INNER JOIN trnContainerGateInDetails CGD on CGD.trnContainerGateInID = CG.trnContainerGateInID and CGD.Flagdeleted = 0
					 INNER JOIN trnDocumentContainer DC on DC.trnDocumentContainerID = CGD.trnDocumentContainerID and DC.Flagdeleted = 0
					 INNER JOIN trnDocument D on D.trnDocumentID = DC.trnDocumentID and D.Flagdeleted = 0 and D.Status = 'D'
					 WHERE CG.Flagdeleted = 0 and CG.IsFinished = 1  AND CG.trnContainerGateInID = (SELECT TOP 1 trnContainerGateInID FROM Inserted) 
					 GROUP BY DC.DeliveryMode Order by DC.DeliveryMode) = 'LOADED' THEN 1 ELSE 0 END
    IF(@IsFinished = 0)
	BEGIN
			IF NOT EXISTS (SELECT * FROM Inserted p
				JOIN Deleted AS i ON
				p.[trnContainerGateInID] = i.[trnContainerGateInID]					
				and p.[ContainerNumber] = i.[ContainerNumber]
				and p.[trnContainerGateInPrefix]=i.[trnContainerGateInPrefix]
				and p.[trnContainerGateInNo]=i.[trnContainerGateInNo]
				and p.[trnDocumentContainerID] = i.[trnDocumentContainerID]
				and p.[LocationFrom] = i.[LocationFrom]
				and p.[LocationFromID] = i.[LocationFromID]
				and p.[VehicleType] = i.[VehicleType]
				and p.[TransporterID] = i.[TransporterID]
				and p.[TruckNo] = i.[TruckNo]
				and p.[TruckID] = i.[TruckID]
				and p.[TransportationType] = i.[TransportationType]
				and p.[Transporter] = i.[Transporter]
				and p.[Driver] = i.[Driver]
				and p.[LicenceNo] = i.[LicenceNo]
				and p.[MobileNo] = i.[MobileNo]
				and p.[Address] = i.[Address]
				and p.[DomesticContainerStatus] = i.[DomesticContainerStatus]
				and P.[Flagdeleted] = i.[Flagdeleted]
				and p.[IsApproved] = i.[IsApproved]
				and P.[ApproveRemarks] = i.[ApproveRemarks]
				and p.[UnApproveRemarks] = i.[UnApproveRemarks]
				and p.[IsFinished] = i.[IsFinished]
				and p.[UpdatedBy]=i.[UpdatedBy]
				and p.[UpdatedDate] =i.[UpdatedDate]
				and p.[Createdby] =i.[Createdby]
				and p.[CreatedDate] =i.[CreatedDate]
				and p.[YearID] = i.[YearID]
				and p.[ApprovedDate] = i.[ApprovedDate]
			)
			BEGIN
				SET NOCOUNT ON;
				INSERT INTO [CFS_BONDED_WAREHOUSE_History].[dbo].[trnContainerGateIn_History]
									([trnContainerGateInID],[ContainerNumber],[trnDocumentContainerID],[LocationFrom],[LocationFromID],[VehicleType], [TruckNo], [TruckID], [TransportationType],[Transporter]
									,[TransporterID],[DriverID],[Driver],[LicenceNo],[MobileNo],[Address],[DomesticContainerStatus]
									,[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate],[Caption],[IsApproved], [ApproveRemarks], [UnApproveRemarks],[IsFinished],[YearID])
							SELECT [trnContainerGateInID],[ContainerNumber],[trnDocumentContainerID],[LocationFrom],[LocationFromID],[VehicleType], [TruckNo], [TruckID], [TransportationType], [Transporter]
									,[TransporterID],[DriverID],[Driver],[LicenceNo],[MobileNo],[Address],[DomesticContainerStatus]
									,[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate],@Caption,[IsApproved], [ApproveRemarks], [UnApproveRemarks],[IsFinished],[YearID] FROM Inserted
			END
	END
	ELSE IF (EXISTS (SELECT * FROM Inserted p
			JOIN Deleted AS i ON
			p.[trnContainerGateInID] = i.[trnContainerGateInID]	
			where
				(p.[IsApproved] <> i.[IsApproved]
				and p.[IsFinished]=i.[IsFinished])
		))
		BEGIN
			SET NOCOUNT ON;
				UPDATE [CFS_BONDED_WAREHOUSE_History].[dbo].[trnContainerGateIn_History]
				SET [IsApproved] =inserted.[IsApproved],
					[ApproveRemarks] = inserted.[ApproveRemarks],
					[UnApproveRemarks] = inserted.[UnApproveRemarks],
					[ApprovedDate] = inserted.[ApprovedDate],
					[UpdatedBy] = inserted.[UpdatedBy],
					[UpdatedDate] = inserted.[UpdatedDate]
				FROM [CFS_BONDED_WAREHOUSE_History].[dbo].[trnContainerGateIn_History]
				INNER JOIN  inserted ON [trnContainerGateIn_History].[trnContainerGateInID] = inserted.[trnContainerGateInID]
		END
	ELSE
	BEGIN
		IF NOT EXISTS (SELECT * FROM Inserted p
			JOIN Deleted AS i ON
			p.[trnContainerGateInID] = i.[trnContainerGateInID]
			and p.[trnContainerGateInPrefix] = i.[trnContainerGateInPrefix]
			and p.[trnContainerGateInNo] = i.[trnContainerGateInNo]
			and p.[IsFinished]=i.[IsFinished]
			and p.[Flagdeleted] =i.[Flagdeleted]
		)
		BEGIN
			SET NOCOUNT ON;
			UPDATE [CFS_BONDED_WAREHOUSE_History].[dbo].[trnContainerGateIn_History]
			SET   [trnContainerGateInPrefix] = inserted.[trnContainerGateInPrefix],
				  [trnContainerGateInNo] = inserted.[trnContainerGateInNo],
				  [IsFinished]=inserted.[IsFinished],
				  [Flagdeleted] =inserted.[Flagdeleted]
			FROM [CFS_BONDED_WAREHOUSE_History].[dbo].[trnContainerGateIn_History]
			INNER JOIN  inserted ON [trnContainerGateIn_History].[trnContainerGateInID] = inserted.[trnContainerGateInID]
		END
	END
	IF(@IsFinished = 1 AND (SELECT IsFinished FROM Deleted) = 0)
	BEGIN
		UPDATE  [dbo].[trnTruckInfo] SET [Flagdeleted] = 1 WHERE [TruckNo] = (SELECT TOP 1 [TruckNo] FROM Inserted)
		INSERT INTO  [dbo].[trnTruckInfo]
						([TruckNo],[TransportationType],[VehicleType],[Transporter],[TransporterID],[Driver],[DriverID],[LicenceNo],[MobileNo],[Address],[Type],[Flagdeleted],[ID],trnDocumentContainerID)
				SELECT CG.TruckNo,CG.TransportationType,CG.VehicleType,CG.Transporter,CG.TransporterID,CG.Driver,CG.DriverID,CG.LicenceNo,CG.MobileNo,CG.Address,'CL' as Type,0 as Flagdeleted ,CG.trnContainerGateInID,0 as trnDocumentContainerID
					 FROM trnContainerGateIn CG
					 INNER JOIN trnContainerGateInDetails CGD on CGD.trnContainerGateInID = CG.trnContainerGateInID and CGD.Flagdeleted = 0
					 INNER JOIN trnDocumentContainer DC on DC.trnDocumentContainerID = CGD.trnDocumentContainerID and DC.Flagdeleted = 0
					 INNER JOIN trnDocument D on D.trnDocumentID = DC.trnDocumentID and D.Flagdeleted = 0 and D.Status = 'D'
					 WHERE CG.Flagdeleted = 0 and CG.IsFinished = 1
					 AND (CG.trnContainerGateInID = (SELECT TOP 1 trnContainerGateInID FROM Inserted)
					 AND CG.TruckNo NOT IN (SELECT TruckNo from trnTruckInfo WHERE Flagdeleted = 0))		
	END
	
	ELSE IF( @IsFinished = 0 AND (SELECT IsFinished FROM Deleted) = 1)
	BEGIN
			UPDATE  [dbo].[trnTruckInfo] SET [Flagdeleted] = 1 WHERE [TruckNo] = (SELECT TOP 1 [TruckNo] FROM Inserted)
	END

