USE [CFS_BONDED_WAREHOUSE]
GO
/****** Object:  Trigger [dbo].[TGR_trnWeighmentSlip]    Script Date: 05/10/2024 11:22:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER  [dbo].[TGR_trnWeighmentSlip]   
 ON  [dbo].[trnWeighmentSlip]   
   AFTER INSERT,UPDATE  
   AS     
   DECLARE @Caption varchar(50)  

   IF EXISTS(SELECT * FROM Inserted)  
   Begin
		IF EXISTS(SELECT * FROM Deleted)      
			set @Caption = 'Edit'  
		ELSE      
			set @Caption = 'Insert'    
		
	END
	IF NOT EXISTS (SELECT * FROM Inserted p  
		JOIN Deleted AS i ON 
		p.[trnWeighmentSlipID] = i.[trnWeighmentSlipID]			
		and p.[Equipment] = i.[Equipment] 
		and p.[SearchID] = i.[SearchID] 
		and p.[SearchNo] = i.[SearchNo] 
		and p.[SearchType] = i.[SearchType] 
		and p.[WeighmentModeNo] = i.[WeighmentModeNo] 
		and p.[WeighmentScaleWeight] = i.[WeighmentScaleWeight] 
		and p.[GrossWeight] = i.[GrossWeight] 
		and p.[TruckTareWeight] = i.[TruckTareWeight] 
		and p.[ContainerTareWeight] = i.[ContainerTareWeight] 
		and p.[NetWeight] = i.[NetWeight] 
		and p.[Remarks] = i.[Remarks]
		and P.[Flagdeleted] = i.[Flagdeleted]
		and P.[IsFinished] = i.[IsFinished]
		and P.[FirstWeighmentBy] = i.[FirstWeighmentBy]
		and P.[SecondWeighmentBy] = i.[SecondWeighmentBy]
		and P.[YearID] = i.[YearID]
	)   
	BEGIN       
		SET NOCOUNT ON;       
		INSERT INTO [CFS_BONDED_WAREHOUSE_History].[dbo].[trnWeighmentSlip_History]
							([trnWeighmentSlipID],[trnWeighmentSlipPrefix],[trnWeighmentSlipNo],[Equipment],[SearchID],[SearchNo],[SearchType],[WeighmentModeNo]
							,[WeighmentScaleWeight],[GrossWeight],[TruckTareWeight],[ContainerTareWeight],[NetWeight],[Remarks]
							,[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate],[Caption],[IsFinished],[FirstWeighmentBy],[SecondWeighmentBy],[YearID])
					SELECT [trnWeighmentSlipID],[trnWeighmentSlipPrefix],[trnWeighmentSlipNo],[Equipment],[SearchID],[SearchNo],[SearchType],[WeighmentModeNo]
							,[WeighmentScaleWeight],[GrossWeight],[TruckTareWeight],[ContainerTareWeight],[NetWeight],[Remarks]
							,[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate],@Caption,[IsFinished],[FirstWeighmentBy],[SecondWeighmentBy],[YearID] FROM Inserted 
	END    

	


