USE [CFS_BONDED_WAREHOUSE]
GO
/****** Object:  Trigger [dbo].[TGR_trnExportMovementWO]    Script Date: 1/18/2024 9:48:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE TRIGGER [dbo].[TGR_trnExportMovementWO]   
 ON  [dbo].[trnExportMovementWO]   
 
   AFTER INSERT,UPDATE  
   AS     
   DECLARE @Caption varchar(50)  
   
	IF EXISTS(SELECT * FROM Inserted)    
		IF EXISTS(SELECT * FROM Deleted)      
			set @Caption = 'Edit'  
		ELSE      
			set @Caption = 'Insert'    
			BEGIN     
			IF NOT EXISTS (
				SELECT *             FROM Inserted p              
					JOIN Deleted AS i              ON 
						p.[trnExportMovementWOID] = i.[trnExportMovementWOID]	and 
						p.[trnExportMovementWOPrefix] = i.[trnExportMovementWOPrefix] and 
						p.[trnExportMovementWONo] = i.[trnExportMovementWONo] and 
						p.[SearchType] = i.[SearchType] and 
						p.[SearchID] = i.[SearchID] and 
						p.[SearchNo] = i.[SearchNo] and 
						p.[StuffRequestNo] = i.[StuffRequestNo] and  
						p.[VCNNo] = i.[VCNNo] and 
						p.[VCNID] = i.[VCNID] and 
						p.[VOYNo] = i.[VOYNo] and  
						p.[PortLocation] = i.[PortLocation] and 
						p.[ExportInvoiceNo] = i.[ExportInvoiceNo] and  
						p.[Remarks] = i.[Remarks] and 
						p.[CancelRemarks] = i.[CancelRemarks] and 
						p.[IsFinished] = i.[IsFinished] and 
						p.[YearID] = i.[YearID] and 
						p.[Flagdeleted] = i.[Flagdeleted] and
						p.[TransportationType]=i.[TransportationType] and 
						p.[Transporter]=i.[Transporter] and 
						p.[TransporterID] =i.[TransporterID] 
						 
					)   
					BEGIN       
						SET NOCOUNT ON;       
						INSERT INTO [CFS_BONDED_WAREHOUSE_HISTORY].[dbo].[trnExportMovementWO_History]
										   ([trnExportMovementWOID]
												  ,[trnExportMovementWOPrefix]
												  ,[trnExportMovementWONo]
												  ,[SearchType]
												  ,[SearchID]
												  ,[SearchNo]
												  ,[StuffRequestNo] 
												  ,[VCNNo]
												  ,[VCNID]
												  ,[VOYNo] 
												  ,[PortLocation]
												  ,[ExportInvoiceNo] 
												  ,[Remarks]
												  ,[TransportationType]
												  ,[Transporter]
												  ,[TransporterID] 
												  ,[CancelRemarks]
												  ,[IsFinished]
												  ,[YearID] 
												  ,[Flagdeleted]
												  ,[Createdby]
												  ,[CreatedDate]
												  ,[UpdatedBy]
												  ,[UpdatedDate]
												  ,[Caption])
						
						
						SELECT						[trnExportMovementWOID]
												  ,[trnExportMovementWOPrefix]
												  ,[trnExportMovementWONo]
												  ,[SearchType]
												  ,[SearchID]
												  ,[SearchNo]
												  ,[StuffRequestNo] 
												  ,[VCNNo]
												  ,[VCNID]
												  ,[VOYNo] 
												  ,[PortLocation]
												  ,[ExportInvoiceNo] 
												  ,[Remarks]
												  ,[TransportationType]
												  ,[Transporter]
												  ,[TransporterID] 
												  ,[CancelRemarks]
												  ,[IsFinished]
												  ,[YearID] 
												  ,[Flagdeleted]
												  ,[Createdby]
												  ,[CreatedDate]
												  ,[UpdatedBy]
												  ,[UpdatedDate]
											  ,@caption
										    FROM Inserted 
					END    
			END	


