USE [CFS_BONDED_WAREHOUSE]
GO
/****** Object:  Trigger [dbo].[TGR_trnEmptyTruckGateInDomestic]    Script Date: 02/08/2024 12:44:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------
ALTER TRIGGER  [dbo].[TGR_trnEmptyTruckGateInDomestic]   
 ON  [dbo].[trnEmptyTruckGateInDomestic]   
   AFTER INSERT,UPDATE  
   AS     
   DECLARE @Caption varchar(50)  
   IF EXISTS(SELECT * FROM Inserted)  
   Begin
		IF EXISTS(SELECT * FROM Deleted)      
			set @Caption = 'Edit'  
		ELSE      
			set @Caption = 'Insert'    
		
	END
	IF NOT EXISTS (SELECT * FROM Inserted p  
		JOIN Deleted AS i ON 
		p.[trnEmptyTruckGateInDomesticID] = i.[trnEmptyTruckGateInDomesticID]	
		and p.[trnEmptyTruckGateInID] = i.[trnEmptyTruckGateInID]
		and p.[ContNo] = i.[ContNo] 
		and p.[ISOCode] = i.[ISOCode] 
		and p.[ISOCodeID] = i.[ISOCodeID] 
		and p.[Size] = i.[Size] 
		and p.[SizeID] = i.[SizeID] 
		and p.[ContType] = i.[ContType] 
		and p.[ContTypeID] = i.[ContTypeID] 
		and p.[CargoType] = i.[CargoType] 
		and p.[CargoTypeID] = i.[CargoTypeID] 
		and p.[IsContainerplacedontruck] = i.[IsContainerplacedontruck]
		and p.[PhysicalSeal] = i.[PhysicalSeal]
		and p.[DeclaredSeal] = i.[DeclaredSeal]
		and P.[Flagdeleted] = i.[Flagdeleted]
	)   
	BEGIN       
		SET NOCOUNT ON;       
		INSERT INTO [CFS_BONDED_WAREHOUSE_History].[dbo].[trnEmptyTruckGateInDomestic_History]
							([trnEmptyTruckGateInDomesticID],[trnEmptyTruckGateInID],[ContNo],[ISOCode],[ISOCodeID],[Size],[SizeID],[ContType],[ContTypeID],[CargoType]
							,[CargoTypeID], [IsContainerplacedontruck],[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate],[Caption],PhysicalSeal,DeclaredSeal)
					SELECT [trnEmptyTruckGateInDomesticID],[trnEmptyTruckGateInID],[ContNo],[ISOCode],[ISOCodeID],[Size],[SizeID],[ContType],[ContTypeID],[CargoType]
							,[CargoTypeID], [IsContainerplacedontruck],[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate],@Caption,PhysicalSeal,DeclaredSeal FROM Inserted 
	END    


