USE [CFS_BONDED_WAREHOUSE]
GO
/****** Object:  Trigger [dbo].[TGR_trnEmptyTruckGateIn]    Script Date: 05/10/2024 2:16:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER  [dbo].[TGR_trnEmptyTruckGateIn]   
 ON  [dbo].[trnEmptyTruckGateIn]   
 
   AFTER INSERT,UPDATE  
   AS     
   DECLARE @Caption varchar(50)  
   DECLARE @IsApproved BIT
   DECLARE @LastInsertedID int
   DECLARE @LastInsertedTruckNo varchar(100)
   
   IF EXISTS(SELECT * FROM Inserted)  
   Begin
		IF EXISTS(SELECT * FROM Deleted)      
			set @Caption = 'Edit'  
		ELSE      
			set @Caption = 'Insert'    

	END
	SET @IsApproved = (SELECT IsApproved FROM Inserted)
	IF NOT EXISTS (SELECT * FROM Inserted p  
		JOIN Deleted AS i ON 
		p.[trnEmptyTruckGateInID] = i.[trnEmptyTruckGateInID]		
		and p.[trnEmptyTruckGateInPrefix] = i.[trnEmptyTruckGateInPrefix] 
		and p.[trnEmptyTruckGateInNo] = i.[trnEmptyTruckGateInNo] 
		and p.[Transporter] = i.[Transporter] 
		and p.[TruckID] = i.[TruckID] 
		and p.[TruckNo] = i.[TruckNo] 
		and p.[VehicleType] = i.[VehicleType] 
		and p.[Driver] = i.[Driver] 
		and p.[DriverID] = i.[DriverID] 
		and p.[LicenceNo] = i.[LicenceNo] 
		and p.[MobileNo] = i.[MobileNo] 
		and p.[Address] = i.[Address] 
		and p.[Category] = i.[Category]
		and p.[Type] = i.[Type]
		and P.[Flagdeleted] = i.[Flagdeleted]
		and p.[IsApproved] = i.[IsApproved]
		and P.[ApproveRemarks] = i.[ApproveRemarks]
		and p.[UnApproveRemarks] = i.[UnApproveRemarks]
		and p.[TransporterID] = i.[TransporterID]
		and p.[TransportationType] = i.[TransportationType]
		and p.[IsFinished] = i.[IsFinished]
		and p.[DomesticContainerStatus]=i.[DomesticContainerStatus]
		and p.[YearID] = i.[YearID]
	)   
	BEGIN       
		SET NOCOUNT ON;       
		INSERT INTO [CFS_BONDED_WAREHOUSE_History].[dbo].[trnEmptyTruckGateIn_History]
							([trnEmptyTruckGateInID],[trnEmptyTruckGateInPrefix],[trnEmptyTruckGateInNo],[Transporter],[TruckID],[TruckNo],[DriverID]
						   ,[Driver],[LicenceNo],[MobileNo],[Address],[VehicleType],[Category],[Type],[Remarks],[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate]
						   ,[IsApproved],[ApproveRemarks],[UnApproveRemarks],[Caption],[TransporterID],[TransportationType],[IsFinished],[DomesticContainerStatus],[YearID])

					SELECT [trnEmptyTruckGateInID],[trnEmptyTruckGateInPrefix],[trnEmptyTruckGateInNo],[Transporter],[TruckID],[TruckNo],[DriverID]
						   ,[Driver],[LicenceNo],[MobileNo],[Address],[VehicleType],[Category],[Type],[Remarks],[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate]
						   ,[IsApproved],[ApproveRemarks],[UnApproveRemarks],@Caption,[TransporterID],[TransportationType],[IsFinished],[DomesticContainerStatus],[YearID] FROM Inserted 
	END    
	IF((SELECT IsFinished FROM Inserted) = 1)
	BEGIN
		UPDATE  [dbo].[trnTruckInfo] SET [Flagdeleted] = 1 WHERE [TruckNo] = (SELECT TOP 1 Item FROM [dbo].[SplitString]((SELECT [TruckNo] FROM Inserted),'-'))
		INSERT INTO [CFS_BONDED_WAREHOUSE].[dbo].[trnTruckInfo]
						([TruckNo],[TransportationType],[VehicleType],[Transporter],[TransporterID],[Driver],[DriverID],[LicenceNo],[MobileNo],[Address],[Type],[Flagdeleted],[ID],trnWorkOrderOutID)
				SELECT E.TruckNo,E.TransportationType,E.VehicleType,E.Transporter,E.TransporterID,E.Driver,E.DriverID,E.LicenceNo,E.MobileNo,E.Address,'ETG' as Type,0 as Flagdeleted,trnEmptyTruckGateInID,trnWorkOrderOutID
				FROM trnEmptyTruckGateIn E WHERE E.Flagdeleted = 0 and E.IsFinished = 1
				AND E.trnEmptyTruckGateInID = (SELECT TOP 1 trnEmptyTruckGateInID FROM Inserted)
				AND E.TruckNo NOT IN (SELECT TruckNo from trnTruckInfo WHERE Flagdeleted = 0)
		SET @LastInsertedID = SCOPE_IDENTITY()
		SET @LastInsertedTruckNo = (SELECT TruckNo From [trnTruckInfo] where trnTruckInfoID = @LastInsertedID)
		IF((CASE WHEN @LastInsertedTruckNo LIKE '%-%' THEN 1 ELSE 0 END) = 1)
		BEGIN 
			UPDATE [CFS_BONDED_WAREHOUSE].[dbo].[trnTruckInfo] SET TruckNo = (SELECT TOP 1 Item FROM [dbo].[SplitString](@LastInsertedTruckNo,'-'))  WHERE TruckNo = @LastInsertedTruckNo
		END
	END

