
ALTER TRIGGER [dbo].[TGR_trnContainerDestuffing]   
 ON  [dbo].[trnContainerDestuffing]   
   AFTER INSERT,UPDATE  
   AS     
   DECLARE @Caption varchar(50)  
   DECLARE @IsFinished BIT

   IF EXISTS(SELECT * FROM Inserted)  
   Begin
		IF EXISTS(SELECT * FROM Deleted)      
			set @Caption = 'Edit'  
		ELSE      
			set @Caption = 'Insert'    
		
	END
	SET @IsFinished = (SELECT IsFinished FROM Inserted)
	IF NOT EXISTS (SELECT * FROM Inserted p  
		JOIN Deleted AS i ON 
		p.[trnContainerDestuffingID] = i.[trnContainerDestuffingID]			
		and p.[ContainerNo] = i.[ContainerNo] 
		and p.[Surveyor] = i.[Surveyor] 
		and p.[SurveyorID] = i.[SurveyorID] 
		and p.[Contractor] = i.[Contractor] 
		and p.[ContractorID] = i.[ContractorID] 
		and  CAST(p.[BeginDestuffDate] as date)  = CAST(i.[BeginDestuffDate] as date) 
		and  CAST(p.[EndDestuffDate] as date)  = CAST(i.[EndDestuffDate] as date) 
		and P.[Flagdeleted] = i.[Flagdeleted]
		and p.[Remarks] = i.[Remarks]
		and p.[ContainerCondition] = i.[ContainerCondition]
		and p.[DamageRemarks] = i.[DamageRemarks]
		and p.[IsDestuffed] = i.[IsDestuffed]
		and p.[trnContainerDestuffWorkOrderDetailsID]=i.[trnContainerDestuffWorkOrderDetailsID]
		and p.[YearID] = i.[YearID]
	)   
	BEGIN       
		SET NOCOUNT ON;       
		INSERT INTO [CFS_BONDED_WAREHOUSE_History].[dbo].[trnContainerDestuffing_History]
							([trnContainerDestuffingID],[trnContainerDestuffingPrefix],[trnContainerDestuffingNo],[ContainerNo],[trnContainerGateInDetailsID]
						   ,[Surveyor],[SurveyorID],[Contractor],[ContractorID],[BeginDestuffDate],[EndDestuffDate],[Remarks],[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate]
						   ,[Caption],[ContainerCondition],[DamageRemarks],[IsDestuffed],[trnContainerDestuffWorkOrderDetailsID],[YearID])
					SELECT [trnContainerDestuffingID],[trnContainerDestuffingPrefix],[trnContainerDestuffingNo],[ContainerNo],[trnContainerGateInDetailsID]
						   ,[Surveyor],[SurveyorID],[Contractor],[ContractorID],[BeginDestuffDate],[EndDestuffDate],[Remarks],[Flagdeleted],[Createdby],[CreatedDate],[UpdatedBy],[UpdatedDate]
						   ,@Caption,[ContainerCondition],[DamageRemarks],[IsDestuffed],[trnContainerDestuffWorkOrderDetailsID],[YearID] FROM Inserted 
	END 
	--IF(@IsFinished = 1 AND (SELECT IsFinished FROM Deleted) = 0)
	--BEGIN
	--	INSERT INTO [CFS_BONDED_WAREHOUSE].[dbo].[trnTruckInfo]
	--					([TruckNo],[TransportationType],[VehicleType],[Transporter],[TransporterID],[Driver],[DriverID],[LicenceNo],[MobileNo],[Address],[Type],[Flagdeleted],[ID],[trnDocumentContainerID])

	--			SELECT CG.TruckNo,CG.TransportationType,CG.VehicleType,CG.Transporter,CG.TransporterID,CG.Driver,CG.DriverID,CG.LicenceNo,CG.MobileNo,CG.Address,'CD' as Type,0,CD.trnContainerDestuffingID,CGD.[trnDocumentContainerID]
	--				 FROM trnContainerDestuffing CD  
	--				INNER JOIN trnContainerGateInDetails CGD on CGD.trnContainerGateInDetailsID = CD.trnContainerGateInDetailsID and CGD.Flagdeleted = 0
	--				INNER JOIN trnContainerGateIn CG on CG.trnContainerGateInID = CGD.trnContainerGateInID and CG.Flagdeleted = 0 and CG.IsFinished = 1 and CG.IsApproved = 1 
	--				WHERE CD.Flagdeleted = 0 and CD.IsFinished = 1  AND CD.trnContainerDestuffingID = (SELECT TOP 1 trnContainerDestuffingID FROM Inserted)
	--				AND CG.TruckNo NOT IN (SELECT TruckNo from trnTruckInfo WHERE Flagdeleted = 0)
	--END

